modules/server/data/flows_nodered.json
[{"type":"tab","id":"7ea86c87.cdbabc","label":"Input"},{"id":"e5164caa.fba9d8","type":"serial-port","serialport":"/dev/ttyCurrenCost","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"14b8cd51.755e83","type":"serial-port","serialport":"/dev/ttyJeeLink","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"59a42c83.dd02fc","type":"rfxtrx-port","port":"/dev/ttyRfxTrx"},{"id":"46be7afd.1644ac","type":"mqtt-broker","broker":"192.168.1.53","port":"1883","clientid":""},{"id":"b843bc21.314d08","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"f4e9a9aa.a36bd","type":"mqtt in","name":"","topic":"sensors/+/+/+/+/+","broker":"b843bc21.314d08","x":572,"y":129,"z":"7ea86c87.cdbabc","wires":[["b0abe5a9.4c5a78","eafe4485.82a8e8"]]},{"id":"b0abe5a9.4c5a78","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1076,"y":128,"z":"7ea86c87.cdbabc","wires":[]},{"id":"eafe4485.82a8e8","type":"mqtt out","name":"dhome","topic":"","qos":"","retain":"","broker":"46be7afd.1644ac","x":1077,"y":179,"z":"7ea86c87.cdbabc","wires":[]},{"id":"5a8df25d.af0ecc","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1078,"y":239,"z":"7ea86c87.cdbabc","wires":[]},{"id":"e421054c.648c4","type":"mqtt in","name":"","topic":"sensors/+/+/+/+/+","broker":"46be7afd.1644ac","x":639,"y":238,"z":"7ea86c87.cdbabc","wires":[["5a8df25d.af0ecc"]]},{"id":"c3144829.e84bf8","type":"rfx-sensor","name":"rfxtrx433","port":"59a42c83.dd02fc","topicSource":"all","topic":"","x":623,"y":432,"z":"7ea86c87.cdbabc","wires":[["aebafd04.02d41"]]},{"id":"aebafd04.02d41","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1093,"y":430,"z":"7ea86c87.cdbabc","wires":[]},{"id":"bc16ed5d.5b48a8","type":"serial in","name":"Jeelink","serial":"14b8cd51.755e83","x":625,"y":508,"z":"7ea86c87.cdbabc","wires":[["2394e2d4.6da25e"]]},{"id":"559f85cb.1bfacc","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1077,"y":507,"z":"7ea86c87.cdbabc","wires":[]},{"id":"2394e2d4.6da25e","type":"function","name":"parse jl","func":"var s = msg.payload.split(' ')\nif(s[0] === 'ROOM') {\n    var type = ''\n    var nodeid = (\"00000\" + s[1]).slice (-5)\n    var entry = s[2]\n    var value = s[4].replace(/(\\r\\n|\\n|\\r)/gm,\"\");\n    if(s[3] == 0) {\n      type = 'temperature';\n    } else if(s[3] == 1) {\n      type = 'humidity';\n    } else if(s[3] == 2) {\n      type = 'pressure';\n    } else if(s[3] == 3) {\n      type = 'light';\n    } else if(s[3] == 4 && value != 0) {\n      type = 'battery';\n    }\n    \n    if(type != '') {\n        msg.topic = 'sensors/' + nodeid + '/entries/' + entry + '/events/' + type;\n        msg.payload = value / 10;\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":826,"y":508,"z":"7ea86c87.cdbabc","wires":[["559f85cb.1bfacc","c5ebce8d.d2b1d8"]]},{"id":"c5ebce8d.d2b1d8","type":"mqtt out","name":"mqtt-jeelink","topic":"","qos":"","retain":"","broker":"b843bc21.314d08","x":1091,"y":552,"z":"7ea86c87.cdbabc","wires":[]},{"id":"cb5eaf8a.bb2ec","type":"comment","name":"Tests & redirects","info":"","x":344,"y":82,"z":"7ea86c87.cdbabc","wires":[]},{"id":"cd676b8.efec518","type":"comment","name":"Sensors - MQTT push","info":"","x":361,"y":391,"z":"7ea86c87.cdbabc","wires":[]},{"id":"cacfa8f8.19b0e8","type":"catch","name":"catchall","x":541,"y":766,"z":"7ea86c87.cdbabc","wires":[["2118ebe7.d23814"]]},{"id":"2118ebe7.d23814","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1055,"y":765,"z":"7ea86c87.cdbabc","wires":[]},{"id":"4c38d4b5.8ddf7c","type":"serial in","name":"CurrentCost","serial":"e5164caa.fba9d8","x":487,"y":631,"z":"7ea86c87.cdbabc","wires":[["de79705d.dc61d8"]]},{"id":"500381ff.8e4e1","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1078,"y":631,"z":"7ea86c87.cdbabc","wires":[]},{"id":"de79705d.dc61d8","type":"xml","name":"","attr":"","chr":"","x":664,"y":631,"z":"7ea86c87.cdbabc","wires":[["21e87292.2fb5f6"]]},{"id":"21e87292.2fb5f6","type":"function","name":"parse cc","func":"var outputMsgs = [];\nif(msg.payload.msg.tmpr) {\n    if(msg.payload.msg.id == '02431') {\n        var topic = 'sensors/' + msg.payload.msg.id[0] + '/entries/' + msg.payload.msg.sensor[0] + '/events/temperature';\n        outputMsgs.push( { topic:topic, payload: msg.payload.msg.tmpr[0]});\n    }\n    var topic = 'sensors/' + msg.payload.msg.id[0] + '/entries/' + msg.payload.msg.sensor[0] + '/events/power';\n    outputMsgs.push( { topic:topic, payload: msg.payload.msg.ch1[0].watts[0]});\n} else {\n    for(i in msg.payload.msg.hist[0].data) {\n        var chunk = msg.payload.msg.hist[0].data[i];\n        var chunkClean = {};\n        for (var j in chunk) {\n            chunkClean[j] = chunk[j][0];\n        }\n        var topic = 'sensors/02431/entries/' + chunk.sensor[0] + '/history/power';\n        outputMsgs.push( { topic:topic, payload: JSON.stringify(chunkClean) });\n    }\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":874,"y":631,"z":"7ea86c87.cdbabc","wires":[["566e78c9.cf4ab","500381ff.8e4e1"]]},{"id":"566e78c9.cf4ab","type":"mqtt out","name":"mqtt-cc","topic":"","qos":"","retain":"","broker":"b843bc21.314d08","x":1081,"y":682,"z":"7ea86c87.cdbabc","wires":[]}]