modules/server/node-red.json
[{"id":"27b3b5f2.378f02","type":"serial-port","serialport":"/dev/ttyCurrenCost","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"c457bad4.1112","type":"serial-port","serialport":"/dev/ttyJeeLink","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"5ae412a2.511f94","type":"rfxtrx-port","port":"/dev/ttyRfxTrx"},{"id":"69e566.692b5a9c","type":"mqtt-broker","broker":"192.168.1.53","port":"1883","clientid":""},{"id":"7c8e5035.80acd8","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"fb617950.54a84","type":"mqtt in","name":"","topic":"sensors/+/+/+/+/+","broker":"7c8e5035.80acd8","x":438,"y":107,"z":"5110b2e6.9d9f7c","wires":[["a0cec916.0ba55","345bec1d.15c554"]]},{"id":"a0cec916.0ba55","type":"debug","name":"","active":false,"console":"false","complete":"true","x":942,"y":106,"z":"5110b2e6.9d9f7c","wires":[]},{"id":"345bec1d.15c554","type":"mqtt out","name":"dhome","topic":"","qos":"","retain":"","broker":"69e566.692b5a9c","x":943,"y":157,"z":"5110b2e6.9d9f7c","wires":[]},{"id":"9344b44f.0cb978","type":"debug","name":"","active":false,"console":"false","complete":"true","x":944,"y":217,"z":"5110b2e6.9d9f7c","wires":[]},{"id":"78171698.14b97","type":"mqtt in","name":"","topic":"sensors/+/+/+/+/+","broker":"69e566.692b5a9c","x":505,"y":216,"z":"5110b2e6.9d9f7c","wires":[["9344b44f.0cb978"]]},{"id":"75762a9d.022ec4","type":"rfx-sensor","name":"rfxtrx433","port":"5ae412a2.511f94","topicSource":"all","topic":"","x":489,"y":410,"z":"5110b2e6.9d9f7c","wires":[["45c532b0.b4a45c"]]},{"id":"45c532b0.b4a45c","type":"debug","name":"","active":false,"console":"false","complete":"true","x":959,"y":408,"z":"5110b2e6.9d9f7c","wires":[]},{"id":"5428eb8f.b8a93c","type":"serial in","name":"Jeelink","serial":"c457bad4.1112","x":491,"y":486,"z":"5110b2e6.9d9f7c","wires":[["546dd814.08663"]]},{"id":"2197b6fe.6046c2","type":"debug","name":"","active":false,"console":"false","complete":"true","x":943,"y":485,"z":"5110b2e6.9d9f7c","wires":[]},{"id":"546dd814.08663","type":"function","name":"parse jl","func":"var s = msg.payload.split(' ')\nif(s[0] === 'ROOM') {\n    var type = ''\n    var nodeid = (\"00000\" + s[1]).slice (-5)\n    var entry = s[2]\n    var value = s[4].replace(/(\\r\\n|\\n|\\r)/gm,\"\");\n    if(s[3] == 0) {\n      type = 'temperature';\n    } else if(s[3] == 1) {\n      type = 'humidity';\n    } else if(s[3] == 2) {\n      type = 'pressure';\n    } else if(s[3] == 3) {\n      type = 'light';\n    } else if(s[3] == 4 && value != 0) {\n      type = 'battery';\n    }\n    \n    if(type != '') {\n        msg.topic = 'sensors/' + nodeid + '/entries/' + entry + '/events/' + type;\n        msg.payload = value / 10;\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":692,"y":486,"z":"5110b2e6.9d9f7c","wires":[["2197b6fe.6046c2","87cf45d0.d421e"]]},{"id":"87cf45d0.d421e","type":"mqtt out","name":"mqtt-jeelink","topic":"","qos":"","retain":"","broker":"7c8e5035.80acd8","x":957,"y":530,"z":"5110b2e6.9d9f7c","wires":[]},{"id":"fffa46b3.dffcb8","type":"comment","name":"Tests & redirects","info":"","x":210,"y":60,"z":"5110b2e6.9d9f7c","wires":[]},{"id":"e2378eb0.46b04","type":"comment","name":"Sensors - MQTT push","info":"","x":227,"y":369,"z":"5110b2e6.9d9f7c","wires":[]},{"id":"ff489f20.255638","type":"catch","name":"catchall","x":407,"y":744,"z":"5110b2e6.9d9f7c","wires":[["451317a4.a36be8"]]},{"id":"451317a4.a36be8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":921,"y":743,"z":"5110b2e6.9d9f7c","wires":[]},{"id":"b7a74e72.9d98b","type":"serial in","name":"CurrentCost","serial":"27b3b5f2.378f02","x":353,"y":609,"z":"5110b2e6.9d9f7c","wires":[["963a682d.a6ef18"]]},{"id":"70462092.981bc8","type":"debug","name":"","active":false,"console":"false","complete":"true","x":944,"y":609,"z":"5110b2e6.9d9f7c","wires":[]},{"id":"963a682d.a6ef18","type":"xml","name":"","attr":"","chr":"","x":530,"y":609,"z":"5110b2e6.9d9f7c","wires":[["32cf17e7.6e33a"]]},{"id":"32cf17e7.6e33a","type":"function","name":"parse cc","func":"var outputMsgs = [];\nif(msg.payload.msg.tmpr) {\n    if(msg.payload.msg.id == '02431') {\n        var topic = 'sensors/' + msg.payload.msg.id[0] + '/entries/' + msg.payload.msg.sensor[0] + '/events/temperature';\n        outputMsgs.push( { topic:topic, payload: msg.payload.msg.tmpr[0]});\n    }\n    var topic = 'sensors/' + msg.payload.msg.id[0] + '/entries/' + msg.payload.msg.sensor[0] + '/events/power';\n    outputMsgs.push( { topic:topic, payload: msg.payload.msg.ch1[0].watts[0]});\n} else {\n    for(i in msg.payload.msg.hist[0].data) {\n        var chunk = msg.payload.msg.hist[0].data[i];\n        var chunkClean = {};\n        for (var j in chunk) {\n            chunkClean[j] = chunk[j][0];\n        }\n        var topic = 'sensors/02431/entries/' + chunk.sensor[0] + '/history/power';\n        outputMsgs.push( { topic:topic, payload: JSON.stringify(chunkClean) });\n    }\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":740,"y":609,"z":"5110b2e6.9d9f7c","wires":[["6c658929.a1bbd","70462092.981bc8"]]},{"id":"6c658929.a1bbd","type":"mqtt out","name":"mqtt-cc","topic":"","qos":"","retain":"","broker":"7c8e5035.80acd8","x":947,"y":660,"z":"5110b2e6.9d9f7c","wires":[]}]