modules/server/node-red.json
[{"id":"bc0ac01.6cb1e4","type":"serial-port","serialport":"/dev/ttyJeeLink","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"235b622c.a70d46","type":"rfxtrx-port","port":"/dev/ttyRfxTrx"},{"id":"82cfa3f5.82c368","type":"mqtt-broker","broker":"192.168.1.53","port":"1883","clientid":""},{"id":"fdeb7566.3cd4e8","type":"mqtt in","name":"","topic":"sensors/+/+/+/+/+","broker":"82cfa3f5.82c368","x":437,"y":88,"z":"67aa6b99.548b3c","wires":[["3bd468a4.835da","372a671b.02dea8"]]},{"id":"3bd468a4.835da","type":"debug","name":"","active":false,"console":"false","complete":"true","x":870,"y":87,"z":"67aa6b99.548b3c","wires":[]},{"id":"d4efedcb.d968","type":"mqtt out","name":"sensors 2 nodes","topic":"","qos":"","retain":"","broker":"82cfa3f5.82c368","x":899,"y":138,"z":"67aa6b99.548b3c","wires":[]},{"id":"372a671b.02dea8","type":"function","name":"/sensors 2 /nodes","func":"msg.topic = msg.topic.replace(\"sensors\", \"nodes\")\nreturn msg;","outputs":1,"noerr":0,"x":653,"y":138,"z":"67aa6b99.548b3c","wires":[["d4efedcb.d968"]]},{"id":"c19e1b66.78da2","type":"debug","name":"","active":false,"console":"false","complete":"false","x":888,"y":198,"z":"67aa6b99.548b3c","wires":[]},{"id":"584c296c.43a988","type":"mqtt in","name":"","topic":"nodes/+/+/+/+/+","broker":"82cfa3f5.82c368","x":433,"y":197,"z":"67aa6b99.548b3c","wires":[["c19e1b66.78da2"]]},{"id":"d8eb6cd1.feba78","type":"rfx-sensor","name":"rfxtrx","port":"235b622c.a70d46","topicSource":"all","topic":"","x":417,"y":391,"z":"67aa6b99.548b3c","wires":[["e3338ed.4c74cf"]]},{"id":"e3338ed.4c74cf","type":"debug","name":"","active":false,"console":"false","complete":"false","x":887,"y":389,"z":"67aa6b99.548b3c","wires":[]},{"id":"4bf89462.94ef54","type":"serial in","name":"Jeelink","serial":"bc0ac01.6cb1e4","x":419,"y":467,"z":"67aa6b99.548b3c","wires":[["bdf435a1.f819e"]]},{"id":"e47a7755.022a18","type":"debug","name":"","active":false,"console":"false","complete":"true","x":871,"y":466,"z":"67aa6b99.548b3c","wires":[]},{"id":"bdf435a1.f819e","type":"function","name":"translate","func":"var s = msg.payload.split(' ')\nif(s[0] === 'ROOM') {\n    var type = ''\n    var nodeid = (\"00000\" + s[1]).slice (-5)\n    var entry = s[2]\n    var value = s[4].replace(/(\\r\\n|\\n|\\r)/gm,\"\");\n    if(s[3] == 0) {\n      type = 'temperature';\n    } else if(s[3] == 1) {\n      type = 'humidity';\n    } else if(s[3] == 2) {\n      type = 'pressure';\n    } else if(s[3] == 3) {\n      type = 'light';\n    } else if(s[3] == 4 && value != 0) {\n      type = 'battery';\n    }\n    \n    if(type != '') {\n        msg.topic = 'sensors/' + nodeid + '/entries/' + entry + '/events/' + type;\n        msg.payload = value / 10;\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":604,"y":467,"z":"67aa6b99.548b3c","wires":[["e47a7755.022a18","555fd279.ca09e4"]]},{"id":"555fd279.ca09e4","type":"mqtt out","name":"mqtt-jeelink","topic":"","qos":"","retain":"","broker":"82cfa3f5.82c368","x":885,"y":511,"z":"67aa6b99.548b3c","wires":[]},{"id":"5bebf8ce.1a0ad8","type":"comment","name":"Tests & redirects","info":"","x":345,"y":40,"z":"67aa6b99.548b3c","wires":[]},{"id":"cbf7c92b.5f3cc","type":"comment","name":"Sensors - MQTT push","info":"","x":328,"y":342,"z":"67aa6b99.548b3c","wires":[]}]