src/flow/data/flows_nodered.json
[{"type":"tab","id":"7ea86c87.cdbabc","label":"Input"},{"type":"tab","id":"36d36b90.a5beec","label":"Output"},{"type":"tab","id":"7c8cb859.3c2a58","label":"Orchestration"},{"type":"tab","id":"8ebe1c04.1a2e7","label":"Whatchdog"},{"type":"tab","id":"f94f60bc.3613b","label":"web"},{"id":"e5164caa.fba9d8","type":"serial-port","serialport":"/dev/ttyCurrenCost","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"14b8cd51.755e83","type":"serial-port","serialport":"/dev/ttyJeeLink","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"59a42c83.dd02fc","type":"rfxtrx-port","port":"/dev/ttyRfxTrx"},{"id":"b843bc21.314d08","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"f4e9a9aa.a36bd","type":"mqtt in","name":"docker sensors/+/+/+/+/+","topic":"sensors/+/+/+/+/+","broker":"b843bc21.314d08","x":281.00001525878906,"y":51,"z":"7ea86c87.cdbabc","wires":[["b0abe5a9.4c5a78"]]},{"id":"b0abe5a9.4c5a78","type":"debug","name":"","active":false,"console":"false","complete":"true","x":518.0000152587891,"y":51,"z":"7ea86c87.cdbabc","wires":[]},{"id":"c3144829.e84bf8","type":"rfx-sensor","name":"rfxtrx433","port":"59a42c83.dd02fc","topicSource":"all","topic":"","x":132.00001525878906,"y":186,"z":"7ea86c87.cdbabc","wires":[["7f2df7c.eb51708"]]},{"id":"aebafd04.02d41","type":"debug","name":"","active":false,"console":"false","complete":"true","x":420.00001525878906,"y":181,"z":"7ea86c87.cdbabc","wires":[]},{"id":"bc16ed5d.5b48a8","type":"serial in","name":"Jeelink","serial":"14b8cd51.755e83","x":251.00001525878906,"y":351,"z":"7ea86c87.cdbabc","wires":[["2394e2d4.6da25e"]]},{"id":"559f85cb.1bfacc","type":"debug","name":"","active":false,"console":"false","complete":"true","x":586.0000152587891,"y":354,"z":"7ea86c87.cdbabc","wires":[]},{"id":"2394e2d4.6da25e","type":"function","name":"parse jl","func":"var s = msg.payload.split(' ')\nif(s[0] === 'ROOM') {\n    var type = ''\n    var nodeid = (\"00000\" + s[1]).slice (-5)\n    var entry = s[2]\n    var value = s[4].replace(/(\\r\\n|\\n|\\r)/gm,\"\");\n    if(s[3] == 0) {\n      type = 'temperature';\n    } else if(s[3] == 1) {\n      type = 'humidity';\n    } else if(s[3] == 2) {\n      type = 'pressure';\n    } else if(s[3] == 3) {\n      type = 'light';\n    } else if(s[3] == 4 && value != 0) {\n      type = 'battery';\n    }\n    \n    if(type != '') {\n        msg.topic = 'sensors/' + nodeid + '/entries/' + entry + '/events/' + type;\n        msg.payload = value / 10;\n        return msg;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":425.00001525878906,"y":391,"z":"7ea86c87.cdbabc","wires":[["559f85cb.1bfacc","c5ebce8d.d2b1d8"]]},{"id":"c5ebce8d.d2b1d8","type":"mqtt out","name":"mqtt-jeelink","topic":"","qos":"","retain":"","broker":"b843bc21.314d08","x":601.0000152587891,"y":423,"z":"7ea86c87.cdbabc","wires":[]},{"id":"cb5eaf8a.bb2ec","type":"comment","name":"Tests","info":"","x":75.00001525878906,"y":50,"z":"7ea86c87.cdbabc","wires":[]},{"id":"cd676b8.efec518","type":"comment","name":"Sensors - MQTT push","info":"","x":120.00001525878906,"y":120,"z":"7ea86c87.cdbabc","wires":[]},{"id":"cacfa8f8.19b0e8","type":"catch","name":"catchall","x":210.00001525878906,"y":658,"z":"7ea86c87.cdbabc","wires":[["2118ebe7.d23814"]]},{"id":"2118ebe7.d23814","type":"debug","name":"","active":true,"console":"false","complete":"true","x":747.0000152587891,"y":654,"z":"7ea86c87.cdbabc","wires":[]},{"id":"4c38d4b5.8ddf7c","type":"serial in","name":"CurrentCost","serial":"e5164caa.fba9d8","x":354.00001525878906,"y":502,"z":"7ea86c87.cdbabc","wires":[["de79705d.dc61d8"]]},{"id":"500381ff.8e4e1","type":"debug","name":"","active":false,"console":"false","complete":"true","x":828.0000152587891,"y":509,"z":"7ea86c87.cdbabc","wires":[]},{"id":"de79705d.dc61d8","type":"xml","name":"xml2json","attr":"","chr":"","x":504.00001525878906,"y":502,"z":"7ea86c87.cdbabc","wires":[["21e87292.2fb5f6"]]},{"id":"21e87292.2fb5f6","type":"function","name":"parse cc","func":"var outputMsgs = [];\nif(msg.payload.msg.tmpr) {\n    if(msg.payload.msg.id == '02431') {\n        var topic = 'sensors/' + msg.payload.msg.id[0] + '/entries/' + msg.payload.msg.sensor[0] + '/events/temperature';\n        outputMsgs.push( { topic:topic, payload: msg.payload.msg.tmpr[0]});\n    }\n    var topic = 'sensors/' + msg.payload.msg.id[0] + '/entries/' + msg.payload.msg.sensor[0] + '/events/power';\n    outputMsgs.push( { topic:topic, payload: msg.payload.msg.ch1[0].watts[0]});\n} else {\n    for(i in msg.payload.msg.hist[0].data) {\n        var chunk = msg.payload.msg.hist[0].data[i];\n        var chunkClean = {};\n        for (var j in chunk) {\n            chunkClean[j] = chunk[j][0];\n        }\n        var topic = 'sensors/02431/entries/' + chunk.sensor[0] + '/history/power';\n        outputMsgs.push( { topic:topic, payload: JSON.stringify(chunkClean) });\n    }\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":662.0000152587891,"y":547,"z":"7ea86c87.cdbabc","wires":[["566e78c9.cf4ab","500381ff.8e4e1"]]},{"id":"566e78c9.cf4ab","type":"mqtt out","name":"mqtt-cc","topic":"","qos":"","retain":"","broker":"b843bc21.314d08","x":830.0000152587891,"y":580,"z":"7ea86c87.cdbabc","wires":[]},{"id":"d84af89c.4132c","type":"mqtt out","name":"mqtt-rfx","topic":"","qos":"","retain":"","broker":"b843bc21.314d08","x":425.00001525878906,"y":285,"z":"7ea86c87.cdbabc","wires":[]},{"id":"7f2df7c.eb51708","type":"function","name":"parse rfx","func":"var outputMsgs = [];\nvar sensorType = msg.topic.split('/')[0]\nvar sensorId = parseInt(msg.topic.split('/')[1],16)\nif(msg.payload.temperature) {\n    var topic = 'sensors/' + sensorId + '/entries/1/events/temperature';\n    outputMsgs.push( { topic:topic, payload: msg.payload.temperature.value });\n}\nif(msg.payload.humidity) {\n    var topic = 'sensors/' + sensorId + '/entries/1/events/humidity';\n    outputMsgs.push( { topic:topic, payload: msg.payload.humidity.value });\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":279.00001525878906,"y":236,"z":"7ea86c87.cdbabc","wires":[["aebafd04.02d41","d84af89c.4132c"]]},{"id":"7438567a.93f63","type":"inject","name":"01 - Bureau","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":172.00001525878906,"y":122,"z":"36d36b90.a5beec","wires":[["4c1f5b60.4ae14c"]]},{"id":"4c1f5b60.4ae14c","type":"http request","name":"Web Relays","method":"GET","ret":"txt","url":"http://192.168.1.45:3000/gpios/{{{payload}}}/set","x":639.0000152587891,"y":419,"z":"36d36b90.a5beec","wires":[["c57aa12f.cc8d1"]]},{"id":"c57aa12f.cc8d1","type":"debug","name":"","active":true,"console":"false","complete":"true","x":830.0000152587891,"y":419,"z":"36d36b90.a5beec","wires":[]},{"id":"991e4d02.0abb98","type":"comment","name":"Heaters","info":"","x":76.00001525878906,"y":43,"z":"36d36b90.a5beec","wires":[]},{"id":"bf80639e.ae27f8","type":"inject","name":"00 - Salle de Jeux","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":171.00001525878906,"y":83,"z":"36d36b90.a5beec","wires":[["4c1f5b60.4ae14c"]]},{"id":"ce73e0d2.5246c8","type":"inject","name":"02 - Chambre Léna","topic":"","payload":"2","payloadType":"string","repeat":"","crontab":"","once":false,"x":172.00001525878906,"y":162,"z":"36d36b90.a5beec","wires":[["4c1f5b60.4ae14c"]]},{"id":"125e30d2.20ae9f","type":"inject","name":"03 - Chambre Damien","topic":"","payload":"3","payloadType":"string","repeat":"","crontab":"","once":false,"x":171.00001525878906,"y":204,"z":"36d36b90.a5beec","wires":[["4c1f5b60.4ae14c"]]},{"id":"5fded0f2.c9f22","type":"inject","name":"04 - Salle de Bain - Haut","topic":"","payload":"4","payloadType":"string","repeat":"","crontab":"","once":false,"x":172.00001525878906,"y":246,"z":"36d36b90.a5beec","wires":[["4c1f5b60.4ae14c"]]},{"id":"6ae0ed7e.f5fa4c","type":"inject","name":"05 - Mezanine","topic":"","payload":"5","payloadType":"string","repeat":"","crontab":"","once":false,"x":175.00001525878906,"y":293,"z":"36d36b90.a5beec","wires":[["4c1f5b60.4ae14c"]]},{"id":"1af0f2c2.e2a47d","type":"inject","name":"06 - Chambre Papa/Maman","topic":"","payload":"6","payloadType":"string","repeat":"","crontab":"","once":false,"x":172.00001525878906,"y":335,"z":"36d36b90.a5beec","wires":[["4c1f5b60.4ae14c"]]},{"id":"6dfc4667.3c55f","type":"inject","name":"07 - Salle de Bain - Bas","topic":"","payload":"7","payloadType":"string","repeat":"","crontab":"","once":false,"x":171.00001525878906,"y":381,"z":"36d36b90.a5beec","wires":[["4c1f5b60.4ae14c"]]},{"id":"e07dc598.16da58","type":"inject","name":"14 - Salon","topic":"","payload":"14","payloadType":"string","repeat":"","crontab":"","once":false,"x":170.00001525878906,"y":474,"z":"36d36b90.a5beec","wires":[["4c1f5b60.4ae14c"]]},{"id":"9c7e87c2.bdac38","type":"inject","name":"15 - Hall","topic":"","payload":"15","payloadType":"string","repeat":"","crontab":"","once":false,"x":176.00001525878906,"y":514,"z":"36d36b90.a5beec","wires":[["4c1f5b60.4ae14c"]]},{"id":"eb9e270d.eddb48","type":"catch","name":"catchall","x":160.00001525878906,"y":588,"z":"36d36b90.a5beec","wires":[["591c5181.c49c1"]]},{"id":"591c5181.c49c1","type":"debug","name":"","active":true,"console":"false","complete":"true","x":843.0000152587891,"y":588,"z":"36d36b90.a5beec","wires":[]},{"id":"455c3d31.878b0c","type":"inject","name":"Scheduler (5s)","topic":"","payload":"","payloadType":"none","repeat":"5","crontab":"","once":false,"x":140.00001525878906,"y":90,"z":"7c8cb859.3c2a58","wires":[["fc6c779c.883d4"]]},{"id":"e73f5dd1.006048","type":"http request","name":"Web Relays","method":"GET","ret":"obj","url":"http://192.168.1.45:3000/gpios/status","x":555.0000152587891,"y":154,"z":"7c8cb859.3c2a58","wires":[["4a973443.dccccc"]]},{"id":"e82bb798.fa6178","type":"debug","name":"","active":false,"console":"false","complete":"true","x":926.0000152587891,"y":154,"z":"7c8cb859.3c2a58","wires":[]},{"id":"4a973443.dccccc","type":"function","name":"Update Heater States","func":"for(var i in msg.payload) {\n    var switchId = msg.payload[i].switch\n    //console.log(switchId)\n    for(var j in context.global.rooms) {\n        var room = context.global.rooms[j]\n        var roomSwitchId = room.actor\n        //console.log(room)\n        if(roomSwitchId !== undefined && parseInt(roomSwitchId) === switchId) {\n            // console.log(room.name + '    ' + switchId + '      ' + roomSwitchId)\n            context.global.rooms[j].heater = msg.payload[i].value\n            //context.global.rooms[j].HEATING = (msg.payload[i].value ? \"OFF\" : \"ON\")\n        }\n    }\n}\nreturn JSON.stringify(context.global.rooms)","outputs":1,"noerr":0,"x":755.0000152587891,"y":154,"z":"7c8cb859.3c2a58","wires":[["e82bb798.fa6178"]]},{"id":"ccf4921.91ec17","type":"inject","name":"Ping Context","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":259.00001525878906,"y":285,"z":"7c8cb859.3c2a58","wires":[["89d802f8.1f544"]]},{"id":"30c90160.ae5f86","type":"debug","name":"","active":true,"console":"false","complete":"true","x":653.0000152587891,"y":286,"z":"7c8cb859.3c2a58","wires":[]},{"id":"89d802f8.1f544","type":"function","name":"Heaters states","func":"var outputMsgs = [];\nfor(var i in context.global.rooms) {\n    var room = context.global.rooms[i];\n    outputMsgs.push( room );\n}\nreturn [ outputMsgs ];    \n//return [ null, JSON.stringify(context.global.rooms) ]","outputs":1,"noerr":0,"x":468.00001525878906,"y":286,"z":"7c8cb859.3c2a58","wires":[["30c90160.ae5f86"]]},{"id":"13b37277.a971ce","type":"mqtt in","name":"docker sensors/+/+/+/+/+","topic":"sensors/+/+/+/+/+","broker":"b843bc21.314d08","x":222.00001525878906,"y":233,"z":"7c8cb859.3c2a58","wires":[["7008fd52.b0b284"]]},{"id":"7008fd52.b0b284","type":"function","name":"Sensors states","func":"var sIn = msg.topic.split('/');\nif(sIn[4] == 'events' && sIn[5] !== 'power') {\n  var ts = new Date();\n  var ts_str = ts.toISOString(); //.replace(/\\..+/, 'Z');\n  \n  var found = false;\n  for(var j in context.global.rooms) {\n      var room = context.global.rooms[j]\n      if(room.id === msg.topic) {\n          found = true\n          context.global.rooms[j].timestamp = ts_str\n          // context.global.rooms[j][sIn[5]] = msg.payload\n          context.global.rooms[j].value = msg.payload\n      }\n  }\n  if(found === false) {\n      context.global.rooms.push({ id:msg.topic, name:msg.topic, value: msg.payload, timestamp: ts_str, actor:undefined })\n  }\n}\nif(sIn[4] == 'events' && sIn[5] === 'power') {\n  var ts = new Date();\n  var ts_str = ts.toISOString(); //.replace(/\\..+/, 'Z');\n  \n  var found = false;\n  for(var j in context.global.power) {\n      var sensor = context.global.power[j]\n      var sSensor = sensor.id.split('/');\n      if(sSensor[3] === sIn[3]) {\n          found = true\n          context.global.power[j].timestamp = ts_str\n          // context.global.rooms[j][sIn[5]] = msg.payload\n          context.global.power[j].value = msg.payload\n      }\n  }\n  if(found === false) {\n      context.global.power.push({ id:msg.topic, name:msg.topic, value: msg.payload, timestamp: ts_str })\n  }\n}\nreturn JSON.stringify(context.global.rooms)","outputs":1,"noerr":0,"x":471.00001525878906,"y":232,"z":"7c8cb859.3c2a58","wires":[[]]},{"id":"b7bee266.38d0c","type":"catch","name":"catchall","x":217.00001525878906,"y":604,"z":"7c8cb859.3c2a58","wires":[["dcde443.2c17c38"]]},{"id":"dcde443.2c17c38","type":"debug","name":"","active":true,"console":"false","complete":"true","x":754.0000152587891,"y":600,"z":"7c8cb859.3c2a58","wires":[]},{"id":"fc6c779c.883d4","type":"function","name":"Initialize Sensors -> Switch","func":"if(!context.global.rooms || msg.payload === \"manual\") {\n    context.global.rooms = [\n      { id:'sensors/00006/entries/7/events/pressure', name:'Global Info', actor:undefined },\n        \n      { id:'sensors/00008/entries/2/events/temperature', name:'Ch.Bas', actor:'6' },\n      //{ id:'sensors/00108/entries/2/events/temperature', name:'SdB.Bas', actor:'7' },\n    \n      { id:'sensors/00050/entries/4/events/temperature', name:'AquariumAqua', actor:undefined },\n      { id:'sensors/00050/entries/2/events/temperature', name:'AquariumAir', actor:undefined },\n      \n      { id:'sensors/00052/entries/2/events/temperature', name:'Hall', actor:'15' },\n      { id:'sensors/00052/entries/3/events/humidity', name:'Hall', actor:undefined },\n      \n      { id:'sensors/00006/entries/6/events/temperature', name:'Salon', actor:'14' },\n      { id:'sensors/00050/entries/3/events/humidity', name:'Salon', actor:undefined },\n      { id:'sensors/00006/entries/4/events/temperature', name:'Salon (bis)', actor:undefined },\n      \n      { id:'sensors/00009/entries/2/events/temperature', name:'Garage', actor:undefined },\n      //{ id:'sensors/50177/entries/1/events/temperature', name:'Exterieur1', actor:undefined },\n      { id:'sensors/00051/entries/2/events/temperature', name:'Exterieur', actor:undefined },\n      { id:'sensors/00051/entries/3/events/humidity', name:'Exterieur', actor:undefined },\n    \n      { id:'sensors/00053/entries/2/events/temperature', name:'Bureau', actor:'1' },\n      { id:'sensors/00053/entries/3/events/humidity', name:'Bureau', actor:undefined },\n      { id:'sensors/02431/entries/0/events/temperature', name:'Bureau (bis)', actor:undefined },\n      \n      { id:'sensors/00004/entries/4/events/temperature', name:'Ch.Damien', actor:'3' },\n      { id:'sensors/00005/entries/4/events/temperature', name:'Ch.Jeux', actor:'0' },\n      { id:'sensors/00007/entries/4/events/temperature', name:'Mezanine', actor:'5' },\n      { id:'sensors/00010/entries/2/events/temperature', name:'Ch.Léna', actor:'2' },\n      { id:'sensors/00012/entries/2/events/temperature', name:'SdB', actor:'4' },\n      { id:'sensors/00012/entries/3/events/humidity', name:'SdB', actor:undefined },\n      { id:'sensors/00012/entries/4/events/light', name:'SdB', actor:undefined }\n    ];\n}\n\nif(!context.global.power || msg.payload === \"manual\") {\n    context.global.power = [\n      { id:'sensors/03967/entries/0/events/power', name:'Global' },\n      { id:'sensors/03967/entries/1/events/power', name:'Bureau' },\n      { id:'sensors/03967/entries/2/events/power', name:'Cuisine' },\n      { id:'sensors/03967/entries/3/events/power', name:'Linge' },\n      { id:'sensors/03967/entries/4/events/power', name:'Aquarium' },\n      { id:'sensors/03967/entries/5/events/power', name:'TV' },\n      { id:'sensors/03967/entries/6/events/power', name:'Frigo' },\n      { id:'sensors/03967/entries/7/events/power', name:'Noel' },\n      { id:'sensors/03967/entries/8/events/power', name:'NA' },\n      { id:'sensors/03967/entries/9/events/power', name:'NA' },\n    ];\n}\n\ncontext.global.parseISO8601 = function parseISO8601(str) {\n    // we assume str is a UTC date ending in ‘Z’\n    var parts = str.split('T'),\n    dateParts = parts[0].split('-'),\n    timeParts = parts[1].split('Z'),\n    timeSubParts = timeParts[0].split(':'),\n    timeSecParts = timeSubParts[2].split('.'),\n    timeHours = Number(timeSubParts[0]),\n    _date = new Date();\n    \n    _date.setUTCFullYear(Number(dateParts[0]));\n    _date.setUTCDate(1);\n    _date.setUTCMonth(Number(dateParts[1])-1);\n    _date.setUTCDate(Number(dateParts[2]));\n    _date.setUTCHours(Number(timeHours));\n    _date.setUTCMinutes(Number(timeSubParts[1]));\n    _date.setUTCSeconds(Number(timeSecParts[0]));\n    if (timeSecParts[1]) _date.setUTCMilliseconds(Number(timeSecParts[1]));\n    return _date;\n}\n\nreturn { topic: 'continue' };","outputs":1,"noerr":0,"x":367.00001525878906,"y":90,"z":"7c8cb859.3c2a58","wires":[["e73f5dd1.006048"]]},{"id":"40b280cd.4ca04","type":"comment","name":"Context","info":"","x":72.00001525878906,"y":41,"z":"7c8cb859.3c2a58","wires":[]},{"id":"6d467765.f6e898","type":"inject","name":"Scheduler (13s)","topic":"","payload":"","payloadType":"none","repeat":"13","crontab":"","once":false,"x":158.00001525878906,"y":411,"z":"7c8cb859.3c2a58","wires":[["e18b9a9b.51652"]]},{"id":"f2a3f6a3.2ef1d8","type":"comment","name":"Orchestrate Heaters","info":"","x":117.00001525878906,"y":365,"z":"7c8cb859.3c2a58","wires":[]},{"id":"e18b9a9b.51652","type":"function","name":"Pole temps","func":"var outputMsgs = [];\n\nfunction setSwitch(outputMsgs, ts, sensor, switchID, curValue, wantedValue, stateHeater, name) {\n  if(curValue < (wantedValue - 0.1) && stateHeater === 1) {\n    // OFF & < 18.5 °C ==> ON\n    outputMsgs.push( { topic: switchID, action: \"switch\" } );\n    console.log(ts.toLocaleString()\n    + ' ' + sensor + ' <=> ' + name + '='\n    + curValue + ' => switch ' + (stateHeater === 0 ? 'OFF' : 'ON'));\n  }\n\n  if(curValue > (wantedValue + 0.1) && stateHeater === 0) {\n    // ON & > 19 °C ==> OFF\n    outputMsgs.push( { topic: switchID, action: \"switch\" } );\n    console.log(ts.toLocaleString()\n    + ' ' + sensor + ' <=> ' + name + '='\n    + curValue + ' => switch ' + (stateHeater === 0 ? 'OFF' : 'ON'));\n  }\n}\n\nvar ts = new Date();\nvar slot96 = Math.floor((ts.getHours() * 60 + ts.getMinutes()) / 15);\n// console.log(ts.toString() + '--' + slot96)\n\n// loop on all rooms\nfor(var i in context.global.rooms) {\n    var room = context.global.rooms[i];\n    \n    if(room.actor !== undefined)\n    {\n        // there is something to control?\n        \n        if(room.timestamp === undefined) {\n            // no data\n            // TODO or too old data !\n            outputMsgs.push( { payload: room, action:\"error\", error:\"NO_SENSOR_DATA\" });\n        }\n        else\n        {\n            var lastts = context.global.parseISO8601(room.timestamp);\n            //console.log(lastts.toLocaleString()\n            //    + ' ' + room.id + ' <=> ' + room.name);\n            // 20min late = batteries dead? \n            if((lastts.getTime() + 1000*60*20) < ts.getTime())\n                outputMsgs.push( { payload: room, action:\"error\", error:\"OUTDATED_SENSOR_DATA\" });\n            \n            if(room.actor == 14 || room.actor == 15) { // salon\n                setSwitch(outputMsgs, ts, room.id, room.actor, room.value, 19, room.heater, room.name);\n                \n            } else if(room.actor == 6 || room.actor == 7) { // Ch.Bas\n                // 7h30 -> 9h30\n                // 21h15  -> 23h\n                if((slot96 >= 30 && slot96 <= 38)||(slot96 >= 85 && slot96 <= 92)) {\n                    // Hot\n                    setSwitch(outputMsgs, ts, room.id, room.actor, room.value, 19.5, room.heater, room.name);\n                } else {\n                    // Cold\n                    setSwitch(outputMsgs, ts, room.id, room.actor, room.value, 18, room.heater, room.name);\n                }\n            } else {\n                // 7h30 -> 9h30\n                // 18h  -> 23h\n                if((slot96 >= 30 && slot96 <= 38)||(slot96 >= 72 && slot96 <= 92)) {\n                    // Hot\n                    setSwitch(outputMsgs, ts, room.id, room.actor, room.value, 19.5, room.heater, room.name);\n                } else {\n                    // Cold\n                    setSwitch(outputMsgs, ts, room.id, room.actor, room.value, 18, room.heater, room.name);\n                }\n            }\n            \n            //outputMsgs.push( { payload: context.global.links[item], temp: curValue, switch: stateHeater, action:\"processed\" });\n        }\n    }\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":327,"y":411,"z":"7c8cb859.3c2a58","wires":[["3ffe7a03.a7f9ce"]]},{"id":"e81ba9e4.3cbe18","type":"debug","name":"","active":true,"console":"false","complete":"true","x":792,"y":489,"z":"7c8cb859.3c2a58","wires":[]},{"id":"21defe66.1be612","type":"http request","name":"Web Relays","method":"GET","ret":"txt","url":"http://192.168.1.45:3000/gpios/{{{topic}}}/set","x":624,"y":547,"z":"7c8cb859.3c2a58","wires":[["2caf8899.7f33a8"]]},{"id":"2caf8899.7f33a8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":794,"y":547,"z":"7c8cb859.3c2a58","wires":[]},{"id":"284ed840.a25788","type":"inject","name":"Reload","topic":"","payload":"manual","payloadType":"string","repeat":"","crontab":"","once":false,"x":138.75001525878906,"y":142,"z":"7c8cb859.3c2a58","wires":[["fc6c779c.883d4"]]},{"id":"2bb89cf3.52efbc","type":"comment","name":"Notifs","info":"","x":94.56666564941406,"y":659.566650390625,"z":"7c8cb859.3c2a58","wires":[]},{"id":"1bc26100.b8eed7","type":"inject","name":"E-mail","topic":"","payload":"manual","payloadType":"string","repeat":"","crontab":"","once":false,"x":142.56666564941406,"y":717.566650390625,"z":"7c8cb859.3c2a58","wires":[["ad3ea330.b8b0b8"]]},{"id":"ad3ea330.b8b0b8","type":"function","name":"Heaters states","func":"var outputMsgs = [];\nfor(var i in context.global.rooms) {\n    var room = context.global.rooms[i];\n    outputMsgs.push( room );\n}\n//return [ outputMsgs ];    \n//return { payload:JSON.stringify(context.global.rooms), topic: \"report\" }\nreturn { payload:\"toto\", topic:\"titi\"}","outputs":1,"noerr":0,"x":305.566650390625,"y":717.566650390625,"z":"7c8cb859.3c2a58","wires":[["8a157165.1488f"]]},{"id":"8a157165.1488f","type":"e-mail","server":"smtp.free.fr","port":"25","name":"kalemena@free.fr","dname":"email","x":498.566650390625,"y":717.566650390625,"z":"7c8cb859.3c2a58","wires":[]},{"id":"67e9b1df.dcdec","type":"comment","name":"Ping","info":"","x":101.56666564941406,"y":42.56666564941406,"z":"8ebe1c04.1a2e7","wires":[]},{"id":"3ffe7a03.a7f9ce","type":"switch","name":"","property":"action","rules":[{"t":"eq","v":"error"},{"t":"eq","v":"switch"}],"checkall":"false","outputs":2,"x":451.566650390625,"y":497.566650390625,"z":"7c8cb859.3c2a58","wires":[["e81ba9e4.3cbe18"],["21defe66.1be612"]]},{"id":"e361cd9.5d06b3","type":"ping","name":"DHome","host":"192.168.1.53","timer":"20","x":140.56666564941406,"y":94.56666564941406,"z":"8ebe1c04.1a2e7","wires":[["71fcb8bc.fca968"]]},{"id":"3718b581.cead72","type":"ping","name":"Cubieboard","host":"192.168.1.45","timer":"20","x":140.56666564941406,"y":144.56666564941406,"z":"8ebe1c04.1a2e7","wires":[["71fcb8bc.fca968"]]},{"id":"a04bf0b0.a54fb","type":"debug","name":"","active":true,"console":"false","complete":"true","x":484.566650390625,"y":119.56666564941406,"z":"8ebe1c04.1a2e7","wires":[]},{"id":"71fcb8bc.fca968","type":"function","name":"","func":"if (msg.payload === false)\n    return msg;","outputs":1,"noerr":0,"x":317.566650390625,"y":119.56666564941406,"z":"8ebe1c04.1a2e7","wires":[["a04bf0b0.a54fb"]]},{"id":"bcc1853b.8d8158","type":"http response","name":"http out","x":682.566650390625,"y":114.56666564941406,"z":"f94f60bc.3613b","wires":[]},{"id":"6a197da6.ee331c","type":"http in","name":"/status","url":"/status","method":"get","swaggerDoc":"","x":204.566650390625,"y":111.56666564941406,"z":"f94f60bc.3613b","wires":[["67de7f2d.a30918"]]},{"id":"67de7f2d.a30918","type":"function","name":"Data buffer","func":"msg.headers = {}\nmsg.headers[\"Access-Control-Allow-Origin\"] = \"*\";\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.payload = JSON.stringify(context.global.rooms)\nreturn msg;","outputs":1,"noerr":0,"x":344.566650390625,"y":111.56666564941406,"z":"f94f60bc.3613b","wires":[["bcc1853b.8d8158","3613b266.6def06"]]},{"id":"3613b266.6def06","type":"debug","name":"","active":false,"console":"false","complete":"true","x":683.566650390625,"y":170.56666564941406,"z":"f94f60bc.3613b","wires":[]},{"id":"2a1013a8.8fd40c","type":"http in","name":"/power","url":"/power","method":"get","swaggerDoc":"","x":204.566650390625,"y":167.56666564941406,"z":"f94f60bc.3613b","wires":[["d41dfb9a.18c368"]]},{"id":"d41dfb9a.18c368","type":"function","name":"Data buffer","func":"msg.headers = {}\nmsg.headers[\"Access-Control-Allow-Origin\"] = \"*\";\nmsg.headers[\"Content-Type\"] = \"application/json\";\nmsg.payload = JSON.stringify(context.global.power)\nreturn msg;","outputs":1,"noerr":0,"x":345.566650390625,"y":166.56666564941406,"z":"f94f60bc.3613b","wires":[["bcc1853b.8d8158","3613b266.6def06"]]}]