src/tidhome/config/flows/Notifications.json
[
  {
    "id": "8627a08f.2f4c18",
    "type": "tab",
    "label": "Notifications",
    "disabled": false,
    "info": ""
  },
  {
    "id": "cb68db5a.bdbca8",
    "type": "inject",
    "z": "8627a08f.2f4c18",
    "name": "Initialize",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 160,
    "wires": [
      [
        "436b2017.90da28"
      ]
    ]
  },
  {
    "id": "8b517c2b.d93ed8",
    "type": "function",
    "z": "8627a08f.2f4c18",
    "name": "Meteo",
    "func": "var message = msg.payload.detail + '\\n' + \n    \"temp=\" + msg.data.currently.temperature + \"°C (\" + msg.payload.mintemp + \"°C to \" + msg.payload.maxtemp + \"°C) \\n\" +\n    \"humidity=\" + (msg.payload.humidity * 100) + \"%\\n\" +\n    \"pressure=\" + msg.data.currently.pressure + \"hPa\\n\" +\n    \"windspeed=\" + msg.payload.windspeed + \"km/h\\n\" +\n    \"winddirection=\" + msg.payload.winddirection + \"\\n\" + \n    \"clouds=\" + (msg.payload.clouds * 100) + \"%\";\n    \nmsg.payload = message\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 740,
    "y": 370,
    "wires": [
      [
        "57bdbb93.d54314"
      ]
    ]
  },
  {
    "id": "45d9a893.f40ca8",
    "type": "darksky",
    "z": "8627a08f.2f4c18",
    "darksky": "56c5e5e6.d3610c",
    "name": "Weather Forecast",
    "lon": "-4.574204",
    "lat": "48.4778124",
    "date": "",
    "time": "",
    "mode": "message",
    "lang": "fr",
    "units": "si",
    "x": 520,
    "y": 370,
    "wires": [
      [
        "8b517c2b.d93ed8"
      ]
    ]
  },
  {
    "id": "436b2017.90da28",
    "type": "function",
    "z": "8627a08f.2f4c18",
    "name": "Fresh deploy",
    "func": "msg.payload = \"Fresh (re-)deploy !\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 290,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "4881ab4d.cbd20c",
    "type": "simpletime",
    "z": "8627a08f.2f4c18",
    "name": "now",
    "x": 610,
    "y": 290,
    "wires": [
      [
        "57125e6f.c04dd"
      ]
    ]
  },
  {
    "id": "f9f7f04d.3b6e58",
    "type": "csv",
    "z": "8627a08f.2f4c18",
    "name": "",
    "sep": ",",
    "hdrin": true,
    "hdrout": "",
    "multi": "one",
    "ret": "\\n",
    "temp": "",
    "skip": "0",
    "strings": true,
    "x": 490,
    "y": 290,
    "wires": [
      [
        "4881ab4d.cbd20c"
      ]
    ]
  },
  {
    "id": "57125e6f.c04dd",
    "type": "function",
    "z": "8627a08f.2f4c18",
    "name": "Render day events",
    "func": "if (msg.payload.date !== undefined) {\n    \n    var message, bdom, bmonth, byear;\n    bparsed = msg.payload.date.split('/');\n    \n    if(bparsed.length == 3) {\n        // year/month/day\n        bdom = parseInt(bparsed[2])\n        bmonth = parseInt(bparsed[1])\n        byear = parseInt(bparsed[0])\n        \n    } else {\n        // month/day\n        bdom = parseInt(bparsed[1])\n        bmonth = parseInt(bparsed[0])\n        \n    }\n    \n    if((bdom == msg.mydom) && (bmonth == msg.mymonthn)) {\n        // date matches today\n        \n        if(msg.filename.indexOf('saints') !== -1) {\n            message = \"Saints \" + msg.payload.value\n            \n        } else if(msg.filename.indexOf('birthday') !== -1) { \n            if(byear !== undefined) {\n                message = \"Happy \" + (msg.myyear - byear) + \"th Birthday to \" + msg.payload.value + \" (\" + bdom + \"/\" + bmonth + \")\"\n            } else {\n                message = \"Happy Birthday to \" + msg.payload.value + \" (\" + bdom + \"/\" + bmonth + \")\"\n            }\n            \n        } else {\n            message = msg.payload.value\n        }\n        \n        msg.payload = message\n        return msg;\n    }\n}\n\n// Default nothing\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 770,
    "y": 290,
    "wires": [
      [
        "57bdbb93.d54314"
      ]
    ]
  },
  {
    "id": "f6373746.83f598",
    "type": "readdir",
    "z": "8627a08f.2f4c18",
    "name": "Daily CSVs",
    "dir": "/etc/tidhome/daily-events",
    "as": "multi",
    "recursive": false,
    "outproperty": "filename",
    "x": 320,
    "y": 270,
    "wires": [
      [
        "8e4b9462.126df"
      ]
    ]
  },
  {
    "id": "8e4b9462.126df",
    "type": "file in",
    "z": "8627a08f.2f4c18",
    "name": "CSV file",
    "filename": "",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "x": 360,
    "y": 310,
    "wires": [
      [
        "f9f7f04d.3b6e58"
      ]
    ]
  },
  {
    "id": "f5632272.86a6b8",
    "type": "inject",
    "z": "8627a08f.2f4c18",
    "name": "Morning",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 09 * * *",
    "once": false,
    "onceDelay": "5",
    "topic": "",
    "payload": "Good morning!",
    "payloadType": "str",
    "x": 100,
    "y": 240,
    "wires": [
      [
        "f6373746.83f598",
        "e7e9239c.0be1c",
        "796c897.a1f1278",
        "57bdbb93.d54314"
      ]
    ]
  },
  {
    "id": "fd76b359.51ec38",
    "type": "inject",
    "z": "8627a08f.2f4c18",
    "name": "Night",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 22 * * *",
    "once": false,
    "onceDelay": "5",
    "topic": "",
    "payload": "Good night!",
    "payloadType": "str",
    "x": 110,
    "y": 200,
    "wires": [
      [
        "57bdbb93.d54314"
      ]
    ]
  },
  {
    "id": "57bdbb93.d54314",
    "type": "mqtt out",
    "z": "8627a08f.2f4c18",
    "name": "notifications/telegram",
    "topic": "notifications/telegram",
    "qos": "",
    "retain": "",
    "broker": "c38452a5.4f84e8",
    "x": 1110,
    "y": 200,
    "wires": []
  },
  {
    "id": "4271c741.d9a258",
    "type": "comment",
    "z": "8627a08f.2f4c18",
    "name": "Daily News",
    "info": "",
    "x": 100,
    "y": 120,
    "wires": []
  },
  {
    "id": "e7e9239c.0be1c",
    "type": "function",
    "z": "8627a08f.2f4c18",
    "name": "time.now()",
    "func": "msg.time = new Date().getTime()\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 320,
    "y": 370,
    "wires": [
      [
        "45d9a893.f40ca8"
      ]
    ]
  },
  {
    "id": "b24260ef.c5b1e8",
    "type": "catch",
    "z": "8627a08f.2f4c18",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 100,
    "y": 80,
    "wires": [
      [
        "7ddfd97.7160228"
      ]
    ]
  },
  {
    "id": "796c897.a1f1278",
    "type": "country statistics",
    "z": "8627a08f.2f4c18",
    "name": "France",
    "infected": true,
    "deaths": true,
    "recovered": true,
    "active": false,
    "critical": false,
    "todaycases": false,
    "todaydeaths": false,
    "casepermilion": false,
    "regionFilter": true,
    "deathspermilion": false,
    "regionList": "[\"FR\",\"US\",\"GB\",\"IT\",\"ES\",\"DE\",\"CA\"]",
    "regionListType": "json",
    "x": 310,
    "y": 410,
    "wires": [
      [
        "9bc6fdda.21edd8"
      ]
    ]
  },
  {
    "id": "9bc6fdda.21edd8",
    "type": "function",
    "z": "8627a08f.2f4c18",
    "name": "Covid19",
    "func": "var outputMsgs = []\n\n/*\n// plenty messages\nvar keys = Object.keys(msg.covid);\nfor (const country of keys) {\n  var message = \"COVID \" + \"[\" + msg.covid[country].countryinfo.country  + \"](\" + msg.covid[country].countryinfo.flagurl + \"): \\n\" +\n    \"Cas     = \" + msg.covid[country].cases + \"\\n\" +\n    \"Morts   = \" + msg.covid[country].deaths + \"\\n\" +\n    \"Sorties = \" + msg.covid[country].recovered + \"\\n\";\n    \n  outputMsgs.push({ topic: country, payload: message, photo: msg.covid[country].countryinfo.flagurl });\n}\n*/\n\n// single message\nvar message = \"COVID: \\n\";\nmessage += \"Cas\\tMorts\\tSortie\\n\";\nvar keys = Object.keys(msg.covid);\nfor (const country of keys) {\n  message += msg.covid[country].countryinfo.country + \": \" \n    + msg.covid[country].cases + \"\\t\" + msg.covid[country].deaths + \"\\t\" + msg.covid[country].recovered + \"\\n\";\n}\noutputMsgs.push({ topic: \"covid\", payload: message });\n\nreturn [ outputMsgs ];",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 730,
    "y": 410,
    "wires": [
      [
        "57bdbb93.d54314"
      ]
    ]
  },
  {
    "id": "7ddfd97.7160228",
    "type": "link out",
    "z": "8627a08f.2f4c18",
    "name": "General CatchAll",
    "links": [
      "1bf42829.b3e0b8"
    ],
    "x": 255,
    "y": 80,
    "wires": []
  }
]