src/tidhome/config/flows/Sensors-Jeelink.json
[
  {
    "id": "d06e385b.de11c8",
    "type": "tab",
    "label": "Sensors-Jeelink",
    "disabled": false,
    "info": ""
  },
  {
    "id": "613655ae.7a0704",
    "type": "serial in",
    "z": "d06e385b.de11c8",
    "name": "Jeelink",
    "serial": "4c23cd92.778204",
    "x": 90,
    "y": 120,
    "wires": [
      [
        "e8d888e4.072f5"
      ]
    ]
  },
  {
    "id": "f20c9be2.db11d8",
    "type": "mqtt out",
    "z": "d06e385b.de11c8",
    "name": "sensors/xxx/nodes/...",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "c38452a5.4f84e8",
    "x": 760,
    "y": 120,
    "wires": []
  },
  {
    "id": "e8d888e4.072f5",
    "type": "file function",
    "z": "d06e385b.de11c8",
    "name": "Parse JeeLink",
    "filename": "/opt/tidhome/functions/Parse-JeeLink.js",
    "reloadfile": false,
    "outputs": 1,
    "x": 260,
    "y": 120,
    "wires": [
      [
        "f20c9be2.db11d8",
        "9826adfd.b0d9b"
      ]
    ]
  },
  {
    "id": "ec13faf7.4b286",
    "type": "catch",
    "z": "d06e385b.de11c8",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 100,
    "y": 80,
    "wires": [
      [
        "64dacb8b.d2f3e4"
      ]
    ]
  },
  {
    "id": "64dacb8b.d2f3e4",
    "type": "link out",
    "z": "d06e385b.de11c8",
    "name": "General CatchAll",
    "links": [
      "1bf42829.b3e0b8"
    ],
    "x": 255,
    "y": 80,
    "wires": []
  },
  {
    "id": "b10f5d4d.ca99e8",
    "type": "debug",
    "z": "d06e385b.de11c8",
    "name": "Debug",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 920,
    "y": 170,
    "wires": []
  },
  {
    "id": "823b2da3.07a708",
    "type": "function",
    "z": "d06e385b.de11c8",
    "name": "query insert",
    "func": "var msgres =  {\n    payload: {\n        payload: [\n            { \"value\": Number(msg.payload.value) },\n            { \"type\": msg.payload.type, \"location\": msg.topic }\n        ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 210,
    "wires": [
      [
        "9502284c.4f29f8"
      ]
    ]
  },
  {
    "id": "9502284c.4f29f8",
    "type": "mqtt out",
    "z": "d06e385b.de11c8",
    "name": "sensors",
    "topic": "sensors",
    "qos": "",
    "retain": "",
    "broker": "c38452a5.4f84e8",
    "x": 1140,
    "y": 210,
    "wires": []
  },
  {
    "id": "9826adfd.b0d9b",
    "type": "switch",
    "z": "d06e385b.de11c8",
    "name": "Sort",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "temperature",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "humidity",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "pressure",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 4,
    "x": 710,
    "y": 220,
    "wires": [
      [
        "823b2da3.07a708",
        "b10f5d4d.ca99e8"
      ],
      [
        "823b2da3.07a708",
        "b10f5d4d.ca99e8"
      ],
      [
        "823b2da3.07a708",
        "b10f5d4d.ca99e8"
      ],
      [
        "eefff2a7.d27e98"
      ]
    ]
  },
  {
    "id": "eefff2a7.d27e98",
    "type": "debug",
    "z": "d06e385b.de11c8",
    "name": "Not looked",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 250,
    "wires": []
  }
]