src/tidhome/config/flows/Sensors-WebRelay.json
[
  {
    "id": "b1782abc.430f38",
    "type": "tab",
    "label": "Sensors-WebRelay",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e2c89ae6.57aa1",
    "type": "http request",
    "z": "b1782abc.430f38",
    "name": "Web Relays",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.1.60/status",
    "tls": "",
    "persist": true,
    "proxy": "",
    "authType": "",
    "x": 360,
    "y": 90,
    "wires": [
      [
        "aed3b5e8.2bdba",
        "7c54b8f2.2432a"
      ]
    ]
  },
  {
    "id": "1757f9f9.180a86",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "Poll Web Relays (60s)",
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 90,
    "wires": [
      [
        "e2c89ae6.57aa1"
      ]
    ]
  },
  {
    "id": "bf66c587.e16b18",
    "type": "mqtt out",
    "z": "b1782abc.430f38",
    "name": "sensors/xxx/nodes/...",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "c38452a5.4f84e8",
    "x": 810,
    "y": 60,
    "wires": []
  },
  {
    "id": "aed3b5e8.2bdba",
    "type": "file function",
    "z": "b1782abc.430f38",
    "name": "Parse WebRelays",
    "filename": "/opt/tidhome/functions/Parse-WebRelays.js",
    "reloadfile": true,
    "outputs": 1,
    "x": 550,
    "y": 90,
    "wires": [
      [
        "bf66c587.e16b18"
      ]
    ]
  },
  {
    "id": "220263b.bb9aa1c",
    "type": "catch",
    "z": "b1782abc.430f38",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 100,
    "y": 30,
    "wires": [
      [
        "5d10dd0b.1db574"
      ]
    ]
  },
  {
    "id": "5d10dd0b.1db574",
    "type": "link out",
    "z": "b1782abc.430f38",
    "name": "General CatchAll",
    "links": [
      "1bf42829.b3e0b8"
    ],
    "x": 255,
    "y": 30,
    "wires": []
  },
  {
    "id": "7c54b8f2.2432a",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 530,
    "y": 140,
    "wires": []
  },
  {
    "id": "a7d2ebd0.4c12a",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "01 - Bureau",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "1",
    "x": 110,
    "y": 1080,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "6c6e6c5d.0ac7ac",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "00 - SdJ",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "0",
    "x": 100,
    "y": 1040,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "bb55b46b.570be8",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "02 - Chambre L.",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "2",
    "x": 120,
    "y": 1120,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "9f42607e.9d9368",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "03 - Chambre D.",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "3",
    "x": 120,
    "y": 1160,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "abc37c81.f3592",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "04 - SdB - Haut",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "4",
    "x": 120,
    "y": 1200,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "cdcf4c5a.dce938",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "05 - Mezanine",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "5",
    "x": 110,
    "y": 1240,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "5f8460fe.a89da",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "06 - Chambre P/M",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "6",
    "x": 130,
    "y": 1280,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "66076534.bebc9c",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "07 - SdB - Bas",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "7",
    "x": 120,
    "y": 1320,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "883e7994.d94b68",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "14 - Salon",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "14",
    "x": 100,
    "y": 1360,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "930f4fce.94c2d8",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "15 - Hall",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "15",
    "x": 100,
    "y": 1400,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "558d963e.cb324",
    "type": "comment",
    "z": "b1782abc.430f38",
    "name": "IOTHeaters - Test",
    "info": "",
    "x": 120,
    "y": 1000,
    "wires": []
  },
  {
    "id": "aab849a7.ee2658",
    "type": "mqtt out",
    "z": "b1782abc.430f38",
    "name": "actors/iotheaters/switch",
    "topic": "actors/iotheaters/switch",
    "qos": "",
    "retain": "",
    "broker": "c38452a5.4f84e8",
    "x": 1150,
    "y": 1030,
    "wires": []
  },
  {
    "id": "741678fd.3f4f18",
    "type": "change",
    "z": "b1782abc.430f38",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "payload.id",
        "pt": "msg",
        "to": "topic",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 1030,
    "wires": [
      [
        "aab849a7.ee2658",
        "e790a499.f53248"
      ]
    ]
  },
  {
    "id": "9c1a2185.ace048",
    "type": "link in",
    "z": "b1782abc.430f38",
    "name": "WebRelaysIn",
    "links": [],
    "x": 525,
    "y": 1240,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "c269b719.1c237",
    "type": "link in",
    "z": "b1782abc.430f38",
    "name": "WebRelaysInLatch",
    "links": [
      "7dfb853e.03a1f4",
      "1fd6723.fc4360e"
    ],
    "x": 525,
    "y": 1290,
    "wires": [
      [
        "d5867a8d.091"
      ]
    ]
  },
  {
    "id": "e790a499.f53248",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1090,
    "y": 1080,
    "wires": []
  },
  {
    "id": "9a182caa.06e45",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1000,
    "y": 1290,
    "wires": []
  },
  {
    "id": "50816b6.a434a94",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "08 - Portail",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "8",
    "payload": "",
    "payloadType": "date",
    "x": 480,
    "y": 1330,
    "wires": [
      [
        "d5867a8d.091"
      ]
    ]
  },
  {
    "id": "deb0a59.85d1458",
    "type": "trigger",
    "z": "b1782abc.430f38",
    "name": "Portail Clic",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "1",
    "extend": true,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 850,
    "y": 1330,
    "wires": [
      [
        "ae57d3a3.e3fe88",
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "ae57d3a3.e3fe88",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1000,
    "y": 1330,
    "wires": []
  },
  {
    "id": "d5867a8d.091",
    "type": "change",
    "z": "b1782abc.430f38",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "date"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "8",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 1330,
    "wires": [
      [
        "deb0a59.85d1458",
        "9a182caa.06e45",
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "e2d7dc14.f1a8a8",
    "type": "comment",
    "z": "b1782abc.430f38",
    "name": "Actors - MQTT push",
    "info": "",
    "x": 130,
    "y": 170,
    "wires": []
  },
  {
    "id": "dda2b638.2a5f7",
    "type": "mqtt in",
    "z": "b1782abc.430f38",
    "name": "actors/iotheaters/switch",
    "topic": "actors/iotheaters/switch",
    "qos": "2",
    "datatype": "json",
    "broker": "c38452a5.4f84e8",
    "x": 140,
    "y": 210,
    "wires": [
      [
        "f8329ea7.84c6d8"
      ]
    ]
  },
  {
    "id": "f8329ea7.84c6d8",
    "type": "http request",
    "z": "b1782abc.430f38",
    "name": "Switch Web Relays",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.1.60/relays/set?id={{{payload.id}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 490,
    "y": 210,
    "wires": [
      [
        "eeed3c1e.9602e8"
      ]
    ]
  },
  {
    "id": "eeed3c1e.9602e8",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 860,
    "y": 180,
    "wires": []
  },
  {
    "id": "a9a5a446.2c7cb",
    "type": "websocket in",
    "z": "b1782abc.430f38",
    "name": "WebRelay",
    "server": "",
    "client": "26438802.204788",
    "x": 100,
    "y": 330,
    "wires": [
      [
        "2812070e.894da8",
        "ac2d43ea.e2eaf",
        "67d26f68.ac9028",
        "c97606c5.d54558"
      ]
    ]
  },
  {
    "id": "f6196e3f.e870e",
    "type": "switch",
    "z": "b1782abc.430f38",
    "name": "teleinfo value",
    "property": "teleinfo",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "PAPP",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "HCHP",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "HCHC",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "IINST",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "OPTARIF",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "HHPHC",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "PTEC",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "IMAX",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "ADCO",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "ISOUSC",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "MOTDETAT",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 12,
    "x": 560,
    "y": 390,
    "wires": [
      [
        "b8ca5c1cf47a8524",
        "5e70207e65d376ff"
      ],
      [
        "5c35b72901f41b02"
      ],
      [
        "10056bf86cd32c8e"
      ],
      [
        "6c3f7191a68f3388"
      ],
      [],
      [],
      [
        "7ebb8ca96772fc71"
      ],
      [],
      [],
      [],
      [],
      [
        "17c50e3b.c70f22"
      ]
    ]
  },
  {
    "id": "1ba94549.ae6bdb",
    "type": "mqtt out",
    "z": "b1782abc.430f38",
    "name": "sensors",
    "topic": "sensors",
    "qos": "",
    "retain": "",
    "broker": "c38452a5.4f84e8",
    "x": 1200,
    "y": 780,
    "wires": []
  },
  {
    "id": "6efd389b.03b1",
    "type": "switch",
    "z": "b1782abc.430f38",
    "name": "sensors value",
    "property": "sensors",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "temperature",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "humidity",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 570,
    "y": 730,
    "wires": [
      [
        "b629ec5a.2b4f78"
      ],
      [
        "16258a34.5ce016"
      ],
      [
        "f080b42a.8ae208"
      ]
    ]
  },
  {
    "id": "b629ec5a.2b4f78",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "Sensors-Temperature",
    "func": "var msgres =  {\n    payload: {\n        payload: [\n            { \"value\": Number(msg.sensors.temperature) },\n            { \"type\": \"temperature\", \"location\": \"wr-Garage\" }\n        ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 920,
    "y": 720,
    "wires": [
      [
        "1ba94549.ae6bdb"
      ]
    ]
  },
  {
    "id": "16258a34.5ce016",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "Sensors-Humidity",
    "func": "var msgres =  {\n    payload: {\n        payload: [\n            { \"value\": Number(msg.sensors.humidity) },\n            { \"type\": \"humidity\", \"location\": \"wr-Garage\" }\n        ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 910,
    "y": 760,
    "wires": [
      [
        "1ba94549.ae6bdb"
      ]
    ]
  },
  {
    "id": "b78ef890.6574c",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "Teleinfo-HCHC",
    "func": "fields = { \"value\": Number(msg.payload) }\ntags =   { \"type\": \"teleinfo-hc\", \"location\": \"main\" }\n\nvar msgres =  {\n    payload: {\n        payload: [ fields, tags ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1150,
    "y": 480,
    "wires": [
      [
        "a04282091d8972bc",
        "7631420d62e27f0c"
      ]
    ]
  },
  {
    "id": "17c50e3b.c70f22",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "Otherwise",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 550,
    "y": 510,
    "wires": []
  },
  {
    "id": "2812070e.894da8",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "WebRelayDebug",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 430,
    "y": 880,
    "wires": []
  },
  {
    "id": "f080b42a.8ae208",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "SensorsDebug",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 800,
    "wires": []
  },
  {
    "id": "ac2d43ea.e2eaf",
    "type": "switch",
    "z": "b1782abc.430f38",
    "name": "relays",
    "property": "relays",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 390,
    "y": 840,
    "wires": [
      [
        "b7f3c41.7550bb8",
        "7755fd51.b4d8f4"
      ]
    ]
  },
  {
    "id": "d66f7b10.e7534",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "Relays-OnOff",
    "func": "var msgres =  {\n    payload: {\n        payload: [\n            { \"value\": Number(msg.payload.value) },\n            { \"type\": \"plug-onoff\", \"location\": \"wr-Garage-\" + msg.payload.id }\n        ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 840,
    "wires": [
      [
        "1ba94549.ae6bdb"
      ]
    ]
  },
  {
    "id": "7755fd51.b4d8f4",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "RelaysDebug",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 880,
    "wires": []
  },
  {
    "id": "67d26f68.ac9028",
    "type": "switch",
    "z": "b1782abc.430f38",
    "name": "sensors",
    "property": "sensors",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 400,
    "y": 720,
    "wires": [
      [
        "6efd389b.03b1"
      ]
    ]
  },
  {
    "id": "c97606c5.d54558",
    "type": "switch",
    "z": "b1782abc.430f38",
    "name": "teleinfo",
    "property": "teleinfo",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 270,
    "y": 330,
    "wires": [
      [
        "4041416e2b11e83f",
        "59e96ad40da5ad96"
      ]
    ]
  },
  {
    "id": "10349fb3.8e444",
    "type": "split",
    "z": "b1782abc.430f38",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 730,
    "y": 820,
    "wires": [
      [
        "d66f7b10.e7534"
      ]
    ]
  },
  {
    "id": "b7f3c41.7550bb8",
    "type": "change",
    "z": "b1782abc.430f38",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "relays",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 570,
    "y": 820,
    "wires": [
      [
        "10349fb3.8e444"
      ]
    ]
  },
  {
    "id": "6c3f7191a68f3388",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "IINST",
    "func": "msg.payload = msg.teleinfo.IINST\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 560,
    "wires": [
      [
        "ed407f1cbc8db419",
        "19648e8ccdda83ee"
      ]
    ]
  },
  {
    "id": "ed407f1cbc8db419",
    "type": "rbe",
    "z": "b1782abc.430f38",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 990,
    "y": 560,
    "wires": [
      [
        "9262833a8814975a"
      ]
    ]
  },
  {
    "id": "9262833a8814975a",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "Teleinfo-IINST",
    "func": "fields = { \"value\": Number(msg.payload) }\ntags =   { \"type\": \"teleinfo-iinst\", \"location\": \"main\" }\n\nvar msgres =  {\n    payload: {\n        payload: [ fields, tags ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1150,
    "y": 560,
    "wires": [
      [
        "5cbfb8ec84b8c12d",
        "a04282091d8972bc"
      ]
    ]
  },
  {
    "id": "5cbfb8ec84b8c12d",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1320,
    "y": 560,
    "wires": []
  },
  {
    "id": "a04282091d8972bc",
    "type": "mqtt out",
    "z": "b1782abc.430f38",
    "name": "sensors",
    "topic": "sensors",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "c38452a5.4f84e8",
    "x": 1500,
    "y": 360,
    "wires": []
  },
  {
    "id": "10056bf86cd32c8e",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "HCHC",
    "func": "msg.payload = msg.teleinfo.HCHC\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 480,
    "wires": [
      [
        "7f62d29a3a9b4f89",
        "c00a4358ce16a028"
      ]
    ]
  },
  {
    "id": "7f62d29a3a9b4f89",
    "type": "rbe",
    "z": "b1782abc.430f38",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 990,
    "y": 480,
    "wires": [
      [
        "b78ef890.6574c"
      ]
    ]
  },
  {
    "id": "7631420d62e27f0c",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1320,
    "y": 480,
    "wires": []
  },
  {
    "id": "6ae870ccf2761225",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "Teleinfo-HCHP",
    "func": "fields = { \"value\": Number(msg.payload) }\ntags =   { \"type\": \"teleinfo-hp\", \"location\": \"main\" }\n\nvar msgres =  {\n    payload: {\n        payload: [ fields, tags ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1150,
    "y": 400,
    "wires": [
      [
        "fc6f42e55fccefaf",
        "a04282091d8972bc"
      ]
    ]
  },
  {
    "id": "5c35b72901f41b02",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "HCHP",
    "func": "msg.payload = msg.teleinfo.HCHP\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 400,
    "wires": [
      [
        "4e2abc15dff806af",
        "82ac714782bb3c17"
      ]
    ]
  },
  {
    "id": "4e2abc15dff806af",
    "type": "rbe",
    "z": "b1782abc.430f38",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 990,
    "y": 400,
    "wires": [
      [
        "6ae870ccf2761225"
      ]
    ]
  },
  {
    "id": "fc6f42e55fccefaf",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1320,
    "y": 400,
    "wires": []
  },
  {
    "id": "d67aa1123049fcaa",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "Teleinfo-PAPP",
    "func": "fields = { \"value\": Number(msg.payload) }\ntags =   { \"type\": \"teleinfo-papp\", \"location\": \"main\" }\n\nvar msgres =  {\n    payload: {\n        payload: [ fields, tags ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1150,
    "y": 320,
    "wires": [
      [
        "8b054494521f64e3",
        "a04282091d8972bc"
      ]
    ]
  },
  {
    "id": "b8ca5c1cf47a8524",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "PAPP",
    "func": "msg.payload = msg.teleinfo.PAPP\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 320,
    "wires": [
      [
        "73f9abe0ac3cce5e",
        "b845925d9cdee907"
      ]
    ]
  },
  {
    "id": "73f9abe0ac3cce5e",
    "type": "rbe",
    "z": "b1782abc.430f38",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 990,
    "y": 320,
    "wires": [
      [
        "d67aa1123049fcaa"
      ]
    ]
  },
  {
    "id": "8b054494521f64e3",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1320,
    "y": 320,
    "wires": []
  },
  {
    "id": "b845925d9cdee907",
    "type": "change",
    "z": "b1782abc.430f38",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "teleinfo.PAPP",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1050,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "82ac714782bb3c17",
    "type": "change",
    "z": "b1782abc.430f38",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "teleinfo.HCHP",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1050,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "c00a4358ce16a028",
    "type": "change",
    "z": "b1782abc.430f38",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "teleinfo.HCHC",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1050,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "19648e8ccdda83ee",
    "type": "change",
    "z": "b1782abc.430f38",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "teleinfo.IINST",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1050,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "5e70207e65d376ff",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "TeleinfoDebug",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 240,
    "wires": []
  },
  {
    "id": "7ebb8ca96772fc71",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "PTEC",
    "func": "msg.payload = msg.teleinfo.PTEC\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 600,
    "wires": [
      [
        "3ecd9252828276bb"
      ]
    ]
  },
  {
    "id": "452dbe57e77cf0ee",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1320,
    "y": 600,
    "wires": []
  },
  {
    "id": "3ecd9252828276bb",
    "type": "change",
    "z": "b1782abc.430f38",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "teleinfo.PTEC",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1050,
    "y": 600,
    "wires": [
      [
        "452dbe57e77cf0ee"
      ]
    ]
  },
  {
    "id": "4041416e2b11e83f",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "WSDebug",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 550,
    "wires": []
  },
  {
    "id": "59e96ad40da5ad96",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "Pre-process",
    "func": "function isNumeric(n) { \n      return !isNaN(parseFloat(n)) && isFinite(n); \n}\n\nvar msgs = []\n\n//if(msg.teleinfo.IINST) {\n//    msgs.push( { topic: \"IINST\", payload: msg.teleinfo.IINST } )\n//}\n\n// Check all key/value\nvar keys = Object.keys(msg.teleinfo);\nfor(var i = 0; i < keys.length; i++) {\n    var key = keys[i];\n    var value = isNumeric(msg.teleinfo[key]) ? Number(msg.teleinfo[key]) : msg.teleinfo[key]\n    \n    global.set(\"tidhome_teleinfo.\" + key, value);\n    \n    msgs.push( { topic: key, payload: value } )\n}\n\nreturn msgs",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 640,
    "wires": [
      [
        "09eeee4ada393189"
      ]
    ]
  },
  {
    "id": "92f6a23eb338c0e1",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "PreProcessDebug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1170,
    "y": 640,
    "wires": []
  },
  {
    "id": "09eeee4ada393189",
    "type": "rbe",
    "z": "b1782abc.430f38",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 740,
    "y": 640,
    "wires": [
      [
        "1596cc938fc8a912"
      ]
    ]
  },
  {
    "id": "1596cc938fc8a912",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "Insert Query",
    "func": "fields = { \"value\": Number(msg.payload) }\ntags =   { \"type\": \"teleinfo-\" + msg.topic, \"location\": \"main\" }\n\nvar msgres =  {\n    payload: {\n        payload: [ fields, tags ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 640,
    "wires": [
      [
        "92f6a23eb338c0e1",
        "a04282091d8972bc"
      ]
    ]
  }
]