src/tidhome/config/flows/Sensors-WebRelay.json
[
  {
    "id": "b1782abc.430f38",
    "type": "tab",
    "label": "Sensors-WebRelay",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e2c89ae6.57aa1",
    "type": "http request",
    "z": "b1782abc.430f38",
    "name": "Web Relays",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.1.60/status",
    "tls": "",
    "persist": true,
    "proxy": "",
    "authType": "",
    "x": 360,
    "y": 90,
    "wires": [
      [
        "aed3b5e8.2bdba",
        "7c54b8f2.2432a"
      ]
    ]
  },
  {
    "id": "1757f9f9.180a86",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "Poll Web Relays (60s)",
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 90,
    "wires": [
      [
        "e2c89ae6.57aa1"
      ]
    ]
  },
  {
    "id": "bf66c587.e16b18",
    "type": "mqtt out",
    "z": "b1782abc.430f38",
    "name": "sensors/xxx/nodes/...",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "c38452a5.4f84e8",
    "x": 810,
    "y": 60,
    "wires": []
  },
  {
    "id": "aed3b5e8.2bdba",
    "type": "file function",
    "z": "b1782abc.430f38",
    "name": "Parse WebRelays",
    "filename": "/opt/tidhome/functions/Parse-WebRelays.js",
    "reloadfile": true,
    "outputs": 1,
    "x": 550,
    "y": 90,
    "wires": [
      [
        "bf66c587.e16b18"
      ]
    ]
  },
  {
    "id": "220263b.bb9aa1c",
    "type": "catch",
    "z": "b1782abc.430f38",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 100,
    "y": 30,
    "wires": [
      [
        "5d10dd0b.1db574"
      ]
    ]
  },
  {
    "id": "5d10dd0b.1db574",
    "type": "link out",
    "z": "b1782abc.430f38",
    "name": "General CatchAll",
    "links": [
      "1bf42829.b3e0b8"
    ],
    "x": 255,
    "y": 30,
    "wires": []
  },
  {
    "id": "7c54b8f2.2432a",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 530,
    "y": 140,
    "wires": []
  },
  {
    "id": "a7d2ebd0.4c12a",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "01 - Bureau",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "1",
    "x": 110,
    "y": 740,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "6c6e6c5d.0ac7ac",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "00 - SdJ",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "0",
    "x": 100,
    "y": 700,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "bb55b46b.570be8",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "02 - Chambre L.",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "2",
    "x": 120,
    "y": 780,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "9f42607e.9d9368",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "03 - Chambre D.",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "3",
    "x": 120,
    "y": 820,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "abc37c81.f3592",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "04 - SdB - Haut",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "4",
    "x": 120,
    "y": 860,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "cdcf4c5a.dce938",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "05 - Mezanine",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "5",
    "x": 110,
    "y": 900,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "5f8460fe.a89da",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "06 - Chambre P/M",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "6",
    "x": 130,
    "y": 940,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "66076534.bebc9c",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "07 - SdB - Bas",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "7",
    "x": 120,
    "y": 980,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "883e7994.d94b68",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "14 - Salon",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "14",
    "x": 100,
    "y": 1020,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "930f4fce.94c2d8",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "15 - Hall",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "15",
    "x": 100,
    "y": 1060,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "558d963e.cb324",
    "type": "comment",
    "z": "b1782abc.430f38",
    "name": "IOTHeaters - Test",
    "info": "",
    "x": 120,
    "y": 660,
    "wires": []
  },
  {
    "id": "aab849a7.ee2658",
    "type": "mqtt out",
    "z": "b1782abc.430f38",
    "name": "actors/iotheaters/switch",
    "topic": "actors/iotheaters/switch",
    "qos": "",
    "retain": "",
    "broker": "c38452a5.4f84e8",
    "x": 1150,
    "y": 690,
    "wires": []
  },
  {
    "id": "741678fd.3f4f18",
    "type": "change",
    "z": "b1782abc.430f38",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "payload.id",
        "pt": "msg",
        "to": "topic",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 690,
    "wires": [
      [
        "aab849a7.ee2658",
        "e790a499.f53248"
      ]
    ]
  },
  {
    "id": "9c1a2185.ace048",
    "type": "link in",
    "z": "b1782abc.430f38",
    "name": "WebRelaysIn",
    "links": [],
    "x": 525,
    "y": 900,
    "wires": [
      [
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "c269b719.1c237",
    "type": "link in",
    "z": "b1782abc.430f38",
    "name": "WebRelaysInLatch",
    "links": [
      "7dfb853e.03a1f4",
      "1fd6723.fc4360e"
    ],
    "x": 525,
    "y": 950,
    "wires": [
      [
        "d5867a8d.091"
      ]
    ]
  },
  {
    "id": "e790a499.f53248",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 1090,
    "y": 740,
    "wires": []
  },
  {
    "id": "9a182caa.06e45",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1000,
    "y": 950,
    "wires": []
  },
  {
    "id": "50816b6.a434a94",
    "type": "inject",
    "z": "b1782abc.430f38",
    "name": "08 - Portail",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "8",
    "payload": "",
    "payloadType": "date",
    "x": 480,
    "y": 990,
    "wires": [
      [
        "d5867a8d.091"
      ]
    ]
  },
  {
    "id": "deb0a59.85d1458",
    "type": "trigger",
    "z": "b1782abc.430f38",
    "name": "Portail Clic",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "1",
    "extend": true,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 850,
    "y": 990,
    "wires": [
      [
        "ae57d3a3.e3fe88",
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "ae57d3a3.e3fe88",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1000,
    "y": 990,
    "wires": []
  },
  {
    "id": "d5867a8d.091",
    "type": "change",
    "z": "b1782abc.430f38",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "",
        "tot": "date"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "8",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 990,
    "wires": [
      [
        "deb0a59.85d1458",
        "9a182caa.06e45",
        "741678fd.3f4f18"
      ]
    ]
  },
  {
    "id": "e2d7dc14.f1a8a8",
    "type": "comment",
    "z": "b1782abc.430f38",
    "name": "Actors - MQTT push",
    "info": "",
    "x": 130,
    "y": 170,
    "wires": []
  },
  {
    "id": "dda2b638.2a5f7",
    "type": "mqtt in",
    "z": "b1782abc.430f38",
    "name": "actors/iotheaters/switch",
    "topic": "actors/iotheaters/switch",
    "qos": "2",
    "datatype": "json",
    "broker": "c38452a5.4f84e8",
    "x": 140,
    "y": 210,
    "wires": [
      [
        "f8329ea7.84c6d8"
      ]
    ]
  },
  {
    "id": "f8329ea7.84c6d8",
    "type": "http request",
    "z": "b1782abc.430f38",
    "name": "Switch Web Relays",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.1.60/relays/set?id={{{payload.id}}}",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 490,
    "y": 210,
    "wires": [
      [
        "eeed3c1e.9602e8"
      ]
    ]
  },
  {
    "id": "eeed3c1e.9602e8",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 860,
    "y": 210,
    "wires": []
  },
  {
    "id": "a9a5a446.2c7cb",
    "type": "websocket in",
    "z": "b1782abc.430f38",
    "name": "WebRelay",
    "server": "",
    "client": "26438802.204788",
    "x": 100,
    "y": 280,
    "wires": [
      [
        "2812070e.894da8",
        "ac2d43ea.e2eaf",
        "67d26f68.ac9028",
        "c97606c5.d54558"
      ]
    ]
  },
  {
    "id": "f6196e3f.e870e",
    "type": "switch",
    "z": "b1782abc.430f38",
    "name": "teleinfo value",
    "property": "teleinfo",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "PAPP",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "HCHP",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "HCHC",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "IINST",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 560,
    "y": 300,
    "wires": [
      [
        "9a463cf0.bef99"
      ],
      [
        "4f35fd73.a4c464"
      ],
      [
        "b78ef890.6574c"
      ],
      [],
      [
        "17c50e3b.c70f22"
      ]
    ]
  },
  {
    "id": "9a463cf0.bef99",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "Teleinfo-PAPP",
    "func": "var msgres =  {\n    payload: {\n        payload: [\n            { \"value\": Number(msg.teleinfo.PAPP) },\n            { \"type\": \"power-inst\", \"location\": \"main\" }\n        ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 900,
    "y": 280,
    "wires": [
      [
        "1ba94549.ae6bdb"
      ]
    ]
  },
  {
    "id": "1ba94549.ae6bdb",
    "type": "mqtt out",
    "z": "b1782abc.430f38",
    "name": "sensors",
    "topic": "sensors",
    "qos": "",
    "retain": "",
    "broker": "c38452a5.4f84e8",
    "x": 1150,
    "y": 310,
    "wires": []
  },
  {
    "id": "6efd389b.03b1",
    "type": "switch",
    "z": "b1782abc.430f38",
    "name": "sensors value",
    "property": "sensors",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "temperature",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "humidity",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 570,
    "y": 450,
    "wires": [
      [
        "b629ec5a.2b4f78"
      ],
      [
        "16258a34.5ce016"
      ],
      [
        "f080b42a.8ae208"
      ]
    ]
  },
  {
    "id": "b629ec5a.2b4f78",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "Sensors-Temperature",
    "func": "var msgres =  {\n    payload: {\n        payload: [\n            { \"value\": Number(msg.sensors.temperature) },\n            { \"type\": \"temperature\", \"location\": \"wr-Garage\" }\n        ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 920,
    "y": 440,
    "wires": [
      [
        "1ba94549.ae6bdb"
      ]
    ]
  },
  {
    "id": "16258a34.5ce016",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "Sensors-Humidity",
    "func": "var msgres =  {\n    payload: {\n        payload: [\n            { \"value\": Number(msg.sensors.humidity) },\n            { \"type\": \"humidity\", \"location\": \"wr-Garage\" }\n        ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 910,
    "y": 480,
    "wires": [
      [
        "1ba94549.ae6bdb"
      ]
    ]
  },
  {
    "id": "4f35fd73.a4c464",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "Teleinfo-HCHP",
    "func": "var msgres =  {\n    payload: {\n        payload: [\n            { \"value\": Number(msg.teleinfo.HCHP) },\n            { \"type\": \"power-hist\", \"location\": \"main-hp\" }\n        ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 900,
    "y": 320,
    "wires": [
      [
        "1ba94549.ae6bdb"
      ]
    ]
  },
  {
    "id": "b78ef890.6574c",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "Teleinfo-HCHC",
    "func": "var msgres =  {\n    payload: {\n        payload: [\n            { \"value\": Number(msg.teleinfo.HCHC) },\n            { \"type\": \"power-hist\", \"location\": \"main-hc\" }\n        ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 900,
    "y": 360,
    "wires": [
      [
        "1ba94549.ae6bdb"
      ]
    ]
  },
  {
    "id": "17c50e3b.c70f22",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "TeleinfoDebug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 400,
    "wires": []
  },
  {
    "id": "2812070e.894da8",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "WebRelayDebug",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 430,
    "y": 600,
    "wires": []
  },
  {
    "id": "f080b42a.8ae208",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "SensorsDebug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 520,
    "wires": []
  },
  {
    "id": "ac2d43ea.e2eaf",
    "type": "switch",
    "z": "b1782abc.430f38",
    "name": "relays",
    "property": "relays",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 390,
    "y": 560,
    "wires": [
      [
        "b7f3c41.7550bb8",
        "7755fd51.b4d8f4"
      ]
    ]
  },
  {
    "id": "d66f7b10.e7534",
    "type": "function",
    "z": "b1782abc.430f38",
    "name": "Relays-OnOff",
    "func": "var msgres =  {\n    payload: {\n        payload: [\n            { \"value\": Number(msg.payload.value) },\n            { \"type\": \"plug-onoff\", \"location\": \"wr-Garage-\" + msg.payload.id }\n        ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 560,
    "wires": [
      [
        "1ba94549.ae6bdb"
      ]
    ]
  },
  {
    "id": "7755fd51.b4d8f4",
    "type": "debug",
    "z": "b1782abc.430f38",
    "name": "RelaysDebug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 600,
    "wires": []
  },
  {
    "id": "67d26f68.ac9028",
    "type": "switch",
    "z": "b1782abc.430f38",
    "name": "sensors",
    "property": "sensors",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 400,
    "y": 440,
    "wires": [
      [
        "6efd389b.03b1"
      ]
    ]
  },
  {
    "id": "c97606c5.d54558",
    "type": "switch",
    "z": "b1782abc.430f38",
    "name": "teleinfo",
    "property": "teleinfo",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 400,
    "y": 300,
    "wires": [
      [
        "f6196e3f.e870e"
      ]
    ]
  },
  {
    "id": "10349fb3.8e444",
    "type": "split",
    "z": "b1782abc.430f38",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 730,
    "y": 540,
    "wires": [
      [
        "d66f7b10.e7534"
      ]
    ]
  },
  {
    "id": "b7f3c41.7550bb8",
    "type": "change",
    "z": "b1782abc.430f38",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "relays",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 570,
    "y": 540,
    "wires": [
      [
        "10349fb3.8e444"
      ]
    ]
  }
]