src/tidhome/config/flows/Sensors-Zigbee.json
[
  {
    "id": "237573f3.977b64",
    "type": "tab",
    "label": "Sensors-Zigbee",
    "disabled": false,
    "info": ""
  },
  {
    "id": "c5f01a10.120958",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "ZigBeeConfig",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.name",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1110,
    "y": 180,
    "wires": []
  },
  {
    "id": "da797c2a.8ca438",
    "type": "inject",
    "z": "237573f3.977b64",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "3cf7ed11.f942ea",
    "type": "comment",
    "z": "237573f3.977b64",
    "name": "ZigBee Devices",
    "info": "",
    "x": 100,
    "y": 140,
    "wires": []
  },
  {
    "id": "9537c502.0e6768",
    "type": "switch",
    "z": "237573f3.977b64",
    "name": "Config / State",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "config",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "state",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "attr",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 4,
    "x": 740,
    "y": 1500,
    "wires": [
      [
        "bcb0fb01.de4dc8",
        "d6430df6.f47e08",
        "9fce3159.104fb"
      ],
      [
        "892442e0.c7069",
        "dfd7d1a8.ceda28",
        "f53aea23.cd773"
      ],
      [
        "15474867.56ace8"
      ],
      [
        "f2e8c23d.9d94a"
      ]
    ]
  },
  {
    "id": "8d42076c.9375a8",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "ZigBeeRaw",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1110,
    "y": 1420,
    "wires": []
  },
  {
    "id": "e40e5bbf.43be98",
    "type": "comment",
    "z": "237573f3.977b64",
    "name": "ZigBee Events Listening",
    "info": "",
    "x": 130,
    "y": 230,
    "wires": []
  },
  {
    "id": "701631b4.93c578",
    "type": "split",
    "z": "237573f3.977b64",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 780,
    "y": 180,
    "wires": [
      [
        "b2268266.0d86a8"
      ]
    ]
  },
  {
    "id": "b2268266.0d86a8",
    "type": "function",
    "z": "237573f3.977b64",
    "name": "Store Global",
    "func": "// init (id needed)\nvar tidhome = global.get(\"tidhome\") || {}\n// var zigbee = global.get(\"zigbee\") || {}\nglobal.set(\"tidhome\", tidhome)\nglobal.set(\"tidhome.sensors.zigbee.\" + msg.payload.uniqueid, msg.payload);\n\n// pass through\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 180,
    "wires": [
      [
        "c5f01a10.120958"
      ]
    ]
  },
  {
    "id": "bcb0fb01.de4dc8",
    "type": "Topic Frequencies",
    "z": "237573f3.977b64",
    "name": "Config",
    "units": "minutes",
    "interval": "30",
    "reportUnits": "minutes",
    "reportInterval": "1",
    "topicKey": "payload.uniqueid",
    "valueKey": "",
    "alignToClock": true,
    "generator": "internal",
    "x": 950,
    "y": 1560,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "9fce3159.104fb",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "Config",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 950,
    "y": 1480,
    "wires": []
  },
  {
    "id": "6129e357.f1a854",
    "type": "function",
    "z": "237573f3.977b64",
    "name": "query insert",
    "func": "var msgres =  {\n    payload: {\n        payload: [\n            { \"value\": Number(msg.payload.value) },\n            { \"type\": msg.payload.type, \"location\": msg.payload.name }\n        ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1670,
    "y": 1600,
    "wires": [
      [
        "8f2de443.dfe26"
      ]
    ]
  },
  {
    "id": "8f2de443.dfe26",
    "type": "mqtt out",
    "z": "237573f3.977b64",
    "name": "sensors",
    "topic": "sensors",
    "qos": "",
    "retain": "",
    "broker": "c38452a5.4f84e8",
    "x": 1840,
    "y": 1600,
    "wires": []
  },
  {
    "id": "ed4892b1.071258",
    "type": "function",
    "z": "237573f3.977b64",
    "name": "Friendly name",
    "func": "var tidhome = global.get(\"tidhome\") || {}\ndeviceDetails = tidhome.sensors.zigbee[msg.payload.uniqueid] || {}\nmsg.payload.name = deviceDetails.name || \"Unknown\"\n\n// pass through\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 1420,
    "wires": [
      [
        "8d42076c.9375a8",
        "9537c502.0e6768"
      ]
    ]
  },
  {
    "id": "6b8af3e.5ebac0c",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "type=temperature",
    "rules": [
      {
        "t": "set",
        "p": "payload.type",
        "pt": "msg",
        "to": "temperature",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.value",
        "pt": "msg",
        "to": "payload.state.temperature > 100 ?  payload.state.temperature /100 : payload.state.temperature",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1280,
    "y": 1620,
    "wires": [
      [
        "6129e357.f1a854"
      ]
    ]
  },
  {
    "id": "b9a1d165.4174e",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "type=humidity",
    "rules": [
      {
        "t": "set",
        "p": "payload.type",
        "pt": "msg",
        "to": "humidity",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.value",
        "pt": "msg",
        "to": "payload.state.humidity / 100",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1270,
    "y": 1660,
    "wires": [
      [
        "6129e357.f1a854"
      ]
    ]
  },
  {
    "id": "1ef1acf6.dacdf3",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "type=pressure",
    "rules": [
      {
        "t": "set",
        "p": "payload.type",
        "pt": "msg",
        "to": "pressure",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.value",
        "pt": "msg",
        "to": "payload.state.pressure",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1270,
    "y": 1700,
    "wires": [
      [
        "6129e357.f1a854"
      ]
    ]
  },
  {
    "id": "8a9be5a3.748cf",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "type=lux",
    "rules": [
      {
        "t": "set",
        "p": "payload.type",
        "pt": "msg",
        "to": "lux",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.value",
        "pt": "msg",
        "to": "payload.state.lux",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1250,
    "y": 1820,
    "wires": [
      [
        "6129e357.f1a854"
      ]
    ]
  },
  {
    "id": "e7381c29.ebe33",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "type=presence",
    "rules": [
      {
        "t": "set",
        "p": "payload.type",
        "pt": "msg",
        "to": "presence",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.value",
        "pt": "msg",
        "to": "payload.state.presence",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1270,
    "y": 1780,
    "wires": [
      [
        "6129e357.f1a854"
      ]
    ]
  },
  {
    "id": "72e3efa3.0a7fb",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "type=open",
    "rules": [
      {
        "t": "set",
        "p": "payload.type",
        "pt": "msg",
        "to": "open",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.value",
        "pt": "msg",
        "to": "payload.state.open",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1260,
    "y": 1740,
    "wires": [
      [
        "6129e357.f1a854"
      ]
    ]
  },
  {
    "id": "6e1cb063.384d98",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "type=power-inst",
    "rules": [
      {
        "t": "set",
        "p": "payload.type",
        "pt": "msg",
        "to": "power-inst",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.value",
        "pt": "msg",
        "to": "payload.state.power",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1270,
    "y": 2020,
    "wires": [
      [
        "6129e357.f1a854"
      ]
    ]
  },
  {
    "id": "91e73fd0.4ed448",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "type=plug-onoff",
    "rules": [
      {
        "t": "set",
        "p": "payload.type",
        "pt": "msg",
        "to": "plug-onoff",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.value",
        "pt": "msg",
        "to": "payload.state.on",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1270,
    "y": 1980,
    "wires": [
      [
        "6129e357.f1a854"
      ]
    ]
  },
  {
    "id": "4a04431c.fcc3ec",
    "type": "catch",
    "z": "237573f3.977b64",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 110,
    "y": 90,
    "wires": [
      [
        "60b06b25.f9c98c"
      ]
    ]
  },
  {
    "id": "60b06b25.f9c98c",
    "type": "link out",
    "z": "237573f3.977b64",
    "name": "General CatchAll",
    "links": [
      "1bf42829.b3e0b8"
    ],
    "x": 265,
    "y": 90,
    "wires": []
  },
  {
    "id": "d6430df6.f47e08",
    "type": "switch",
    "z": "237573f3.977b64",
    "name": "Config",
    "property": "payload.config",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "battery",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "reachable",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 950,
    "y": 1520,
    "wires": [
      [
        "cd1533d2.5464d"
      ],
      [
        "4173cbf1.af95bc"
      ],
      []
    ]
  },
  {
    "id": "cd1533d2.5464d",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "type=battery",
    "rules": [
      {
        "t": "set",
        "p": "payload.type",
        "pt": "msg",
        "to": "battery",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.value",
        "pt": "msg",
        "to": "payload.config.battery",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1260,
    "y": 1500,
    "wires": [
      [
        "6129e357.f1a854"
      ]
    ]
  },
  {
    "id": "4173cbf1.af95bc",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "type=reachable",
    "rules": [
      {
        "t": "set",
        "p": "payload.type",
        "pt": "msg",
        "to": "reachable",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.value",
        "pt": "msg",
        "to": "payload.config.reachable",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1270,
    "y": 1540,
    "wires": [
      [
        "6129e357.f1a854"
      ]
    ]
  },
  {
    "id": "892442e0.c7069",
    "type": "switch",
    "z": "237573f3.977b64",
    "name": "State",
    "property": "payload.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "temperature",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "humidity",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "pressure",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "open",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "presence",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "lux",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "lightlevel",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "daylight",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "dark",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "power",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "consumption",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "buttonevent",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 14,
    "x": 950,
    "y": 1740,
    "wires": [
      [
        "6b8af3e.5ebac0c"
      ],
      [
        "b9a1d165.4174e"
      ],
      [
        "1ef1acf6.dacdf3"
      ],
      [
        "72e3efa3.0a7fb"
      ],
      [
        "e7381c29.ebe33"
      ],
      [
        "8a9be5a3.748cf"
      ],
      [
        "511a8bd5.7b894c"
      ],
      [
        "1156d141.cc410f"
      ],
      [
        "4b38937f.ad8c1c"
      ],
      [
        "91e73fd0.4ed448"
      ],
      [
        "6e1cb063.384d98"
      ],
      [
        "2cd304bc.f22dac"
      ],
      [
        "b0f462b7.09bc58"
      ],
      [
        "28099aca.2c2c2e"
      ]
    ]
  },
  {
    "id": "dfd7d1a8.ceda28",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "State",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 950,
    "y": 1610,
    "wires": []
  },
  {
    "id": "f53aea23.cd773",
    "type": "Topic Frequencies",
    "z": "237573f3.977b64",
    "name": "State",
    "units": "minutes",
    "interval": "30",
    "reportUnits": "minutes",
    "reportInterval": "1",
    "topicKey": "payload.uniqueid",
    "valueKey": "",
    "alignToClock": true,
    "generator": "internal",
    "x": 950,
    "y": 1870,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "f2e8c23d.9d94a",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "Other",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 950,
    "y": 1990,
    "wires": []
  },
  {
    "id": "2cd304bc.f22dac",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "type=power-consumption",
    "rules": [
      {
        "t": "set",
        "p": "payload.type",
        "pt": "msg",
        "to": "power-consumption",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.value",
        "pt": "msg",
        "to": "payload.state.consumption",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1300,
    "y": 2060,
    "wires": [
      [
        "6129e357.f1a854"
      ]
    ]
  },
  {
    "id": "28099aca.2c2c2e",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "State - not filtered",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1280,
    "y": 2140,
    "wires": []
  },
  {
    "id": "511a8bd5.7b894c",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "type=lightlevel",
    "rules": [
      {
        "t": "set",
        "p": "payload.type",
        "pt": "msg",
        "to": "lightlevel",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.value",
        "pt": "msg",
        "to": "payload.state.lightlevel",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1270,
    "y": 1860,
    "wires": [
      [
        "6129e357.f1a854"
      ]
    ]
  },
  {
    "id": "1156d141.cc410f",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "type=daylight",
    "rules": [
      {
        "t": "set",
        "p": "payload.type",
        "pt": "msg",
        "to": "daylight",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.value",
        "pt": "msg",
        "to": "payload.state.daylight",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1260,
    "y": 1900,
    "wires": [
      [
        "6129e357.f1a854"
      ]
    ]
  },
  {
    "id": "4b38937f.ad8c1c",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "type=dark",
    "rules": [
      {
        "t": "set",
        "p": "payload.type",
        "pt": "msg",
        "to": "dark",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.value",
        "pt": "msg",
        "to": "payload.state.dark",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1250,
    "y": 1940,
    "wires": [
      [
        "6129e357.f1a854"
      ]
    ]
  },
  {
    "id": "15474867.56ace8",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "Attr",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 950,
    "y": 1950,
    "wires": []
  },
  {
    "id": "b0f462b7.09bc58",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "type=buttonevent",
    "rules": [
      {
        "t": "set",
        "p": "payload.type",
        "pt": "msg",
        "to": "buttonevent",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.value",
        "pt": "msg",
        "to": "payload.state.buttonevent",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1280,
    "y": 2100,
    "wires": [
      [
        "6129e357.f1a854"
      ]
    ]
  },
  {
    "id": "2b11a227.b0ca06",
    "type": "mqtt in",
    "z": "237573f3.977b64",
    "name": "",
    "topic": "zigbee2mqtt/bridge/logging",
    "qos": "2",
    "datatype": "json",
    "broker": "c38452a5.4f84e8",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 160,
    "y": 270,
    "wires": [
      [
        "a99de8fd.3bf05"
      ]
    ]
  },
  {
    "id": "a99de8fd.3bf05",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "Bridge as MQTT",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 270,
    "wires": []
  },
  {
    "id": "1e2ae291.f2d2bd",
    "type": "mqtt in",
    "z": "237573f3.977b64",
    "name": "",
    "topic": "zigbee2mqtt/R06~ChBas~LitDroite",
    "qos": "2",
    "datatype": "json",
    "broker": "c38452a5.4f84e8",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 190,
    "y": 1130,
    "wires": [
      [
        "4045760b900137f1"
      ]
    ]
  },
  {
    "id": "fde0902d.5c7e88",
    "type": "mqtt in",
    "z": "237573f3.977b64",
    "name": "",
    "topic": "zigbee2mqtt/+",
    "qos": "2",
    "datatype": "json",
    "broker": "c38452a5.4f84e8",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 120,
    "y": 340,
    "wires": [
      [
        "a111421e.f2a32"
      ]
    ]
  },
  {
    "id": "a708e318.e87308",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "Remotes",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 320,
    "wires": []
  },
  {
    "id": "a111421e.f2a32",
    "type": "switch",
    "z": "237573f3.977b64",
    "name": "",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "zigbee2mqtt/R",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "zigbee2mqtt/S",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "zigbee2mqtt/V",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "zigbee2mqtt/P",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "zigbee2mqtt/M",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "zigbee2mqtt/L",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 7,
    "x": 380,
    "y": 380,
    "wires": [
      [
        "a708e318.e87308"
      ],
      [
        "85a82392.1560b8"
      ],
      [
        "d3c7ec9e.17e778"
      ],
      [
        "da6ef322.b46dd"
      ],
      [
        "8af56833.cbd7b"
      ],
      [
        "97b4eca3.a80768"
      ],
      [
        "f5922203.5e8ba"
      ]
    ]
  },
  {
    "id": "85a82392.1560b8",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "Sensors",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 360,
    "wires": []
  },
  {
    "id": "d3c7ec9e.17e778",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "Volets",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 400,
    "wires": []
  },
  {
    "id": "da6ef322.b46dd",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "Plugs",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 440,
    "wires": []
  },
  {
    "id": "f5922203.5e8ba",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "Others",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 560,
    "wires": []
  },
  {
    "id": "8af56833.cbd7b",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "Motion",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 480,
    "wires": []
  },
  {
    "id": "97b4eca3.a80768",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "Lights",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 520,
    "wires": []
  },
  {
    "id": "6fe8fa84.45f5f4",
    "type": "mqtt out",
    "z": "237573f3.977b64",
    "name": "",
    "topic": "zigbee2mqtt/bridge/group/ChDamienBedLight/add",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "c38452a5.4f84e8",
    "x": 650,
    "y": 3330,
    "wires": []
  },
  {
    "id": "219fc58c.a7841a",
    "type": "inject",
    "z": "237573f3.977b64",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "P01220vDamien",
    "payloadType": "str",
    "x": 220,
    "y": 3330,
    "wires": [
      [
        "6fe8fa84.45f5f4"
      ]
    ]
  },
  {
    "id": "ebce7da8.88de98",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 470,
    "y": 2270,
    "wires": []
  },
  {
    "id": "1914980.2776268",
    "type": "switch",
    "z": "237573f3.977b64",
    "name": "",
    "property": "payload.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "toggle",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "toggle_hold",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "brightness_up_click",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "brightness_up_hold",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "brightness_up_release",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "brightness_down_click",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "brightness_down_hold",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "brightness_down_release",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "arrow_left_click",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "arrow_left_hold",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "arrow_left_release",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "arrow_right_click",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "arrow_right_hold",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "arrow_right_release",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 17,
    "x": 450,
    "y": 2430,
    "wires": [
      [
        "d3920a89.33069"
      ],
      [
        "fd33c73b.befa78",
        "e8018d12.c59958"
      ],
      [],
      [],
      [
        "7be9af7c.ddde38"
      ],
      [
        "7be9af7c.ddde38"
      ],
      [
        "b028a1a.1a639e"
      ],
      [
        "4c6bf28e.5a0574"
      ],
      [
        "4c6bf28e.5a0574"
      ],
      [
        "b028a1a.1a639e"
      ],
      [
        "1576f629.b748d2"
      ],
      [],
      [],
      [
        "5130d8cd.314ef8"
      ],
      [],
      [],
      []
    ]
  },
  {
    "id": "eb0143c1.95f83",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 260,
    "y": 1170,
    "wires": []
  },
  {
    "id": "29c44cef.4bde74",
    "type": "switch",
    "z": "237573f3.977b64",
    "name": "",
    "property": "payload.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1_single",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "2_single",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "3_single",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 520,
    "y": 1210,
    "wires": [
      [],
      [
        "1e3adc9f.6440db"
      ],
      []
    ]
  },
  {
    "id": "6809ad5d.0e7b74",
    "type": "mqtt in",
    "z": "237573f3.977b64",
    "name": "",
    "topic": "zigbee2mqtt/R05~ChBas~LitGauche",
    "qos": "2",
    "datatype": "json",
    "broker": "c38452a5.4f84e8",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 220,
    "y": 2270,
    "wires": [
      [
        "ebce7da8.88de98",
        "1914980.2776268"
      ]
    ]
  },
  {
    "id": "e8ad7c3d.24d93",
    "type": "comment",
    "z": "237573f3.977b64",
    "name": "Actioning lights",
    "info": "",
    "x": 160,
    "y": 2200,
    "wires": []
  },
  {
    "id": "d66ea3bb.899dc8",
    "type": "mqtt in",
    "z": "237573f3.977b64",
    "name": "",
    "topic": "zigbee2mqtt/R03~Celier~OnOff",
    "qos": "2",
    "datatype": "json",
    "broker": "c38452a5.4f84e8",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 180,
    "y": 1210,
    "wires": [
      [
        "29c44cef.4bde74",
        "eb0143c1.95f83"
      ]
    ]
  },
  {
    "id": "a85fbfa3.a331f",
    "type": "comment",
    "z": "237573f3.977b64",
    "name": "Grouping",
    "info": "",
    "x": 180,
    "y": 3290,
    "wires": []
  },
  {
    "id": "6fc8333b.7f6d1c",
    "type": "mqtt out",
    "z": "237573f3.977b64",
    "name": "",
    "topic": "zigbee2mqtt/G65289~ChBas~LitA/set",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "c38452a5.4f84e8",
    "x": 1490,
    "y": 2350,
    "wires": []
  },
  {
    "id": "d3920a89.33069",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "state=TOGGLE",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"state\":\"TOGGLE\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 2290,
    "wires": [
      [
        "6fc8333b.7f6d1c"
      ]
    ]
  },
  {
    "id": "fd33c73b.befa78",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "brightness=254",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"brightness\":254}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 2330,
    "wires": [
      [
        "6fc8333b.7f6d1c"
      ]
    ]
  },
  {
    "id": "e8018d12.c59958",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "color_temp=500",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"color_temp\":500}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 2370,
    "wires": [
      [
        "6fc8333b.7f6d1c"
      ]
    ]
  },
  {
    "id": "7be9af7c.ddde38",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "brightness_move: 40",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"brightness_move\":40}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 2410,
    "wires": [
      []
    ]
  },
  {
    "id": "b028a1a.1a639e",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "brightness_move: 0",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"brightness_move\":0}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 770,
    "y": 2450,
    "wires": [
      []
    ]
  },
  {
    "id": "4c6bf28e.5a0574",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "brightness_move: -40",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"brightness_move\":-40}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 2490,
    "wires": [
      []
    ]
  },
  {
    "id": "cd574bd6.716828",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "color_temp_move: 40",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"color_temp_move\":40}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1400,
    "y": 2490,
    "wires": [
      []
    ]
  },
  {
    "id": "39bb813d.de6856",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "color_temp_move: 0",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"color_temp_move\":0}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1400,
    "y": 2530,
    "wires": [
      []
    ]
  },
  {
    "id": "f5627c6.cc63b",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "color_temp_move: -40",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"color_temp_move\":-40}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1400,
    "y": 2570,
    "wires": [
      []
    ]
  },
  {
    "id": "378cc77d.34fe",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "state=TOGGLE",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"state\":\"TOGGLE\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 860,
    "wires": [
      [
        "1621fcb5.86df33"
      ]
    ]
  },
  {
    "id": "1621fcb5.86df33",
    "type": "mqtt out",
    "z": "237573f3.977b64",
    "name": "",
    "topic": "zigbee2mqtt/P02~Celier~OnOff/set",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "c38452a5.4f84e8",
    "x": 1240,
    "y": 860,
    "wires": []
  },
  {
    "id": "1e3adc9f.6440db",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "state=TOGGLE",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"state\":\"TOGGLE\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 1210,
    "wires": [
      []
    ]
  },
  {
    "id": "831f3268.666ba",
    "type": "mqtt out",
    "z": "237573f3.977b64",
    "name": "",
    "topic": "zigbee2mqtt/P03~Salon~OnOff01/set",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "c38452a5.4f84e8",
    "x": 1250,
    "y": 750,
    "wires": []
  },
  {
    "id": "1576f629.b748d2",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "color up",
    "rules": [
      {
        "t": "set",
        "p": "payload.color",
        "pt": "msg",
        "to": "color",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "payload.color",
        "pt": "msg",
        "to": "$min([6, payload.color+1])",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "color",
        "pt": "global",
        "to": "payload.color",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 2570,
    "wires": [
      [
        "27b10ed9.f6d66a"
      ]
    ]
  },
  {
    "id": "5130d8cd.314ef8",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "color down",
    "rules": [
      {
        "t": "set",
        "p": "payload.color",
        "pt": "msg",
        "to": "color",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "payload.color",
        "pt": "msg",
        "to": "$max([0, payload.color-1])",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "color",
        "pt": "global",
        "to": "payload.color",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 2610,
    "wires": [
      [
        "27b10ed9.f6d66a"
      ]
    ]
  },
  {
    "id": "27b10ed9.f6d66a",
    "type": "switch",
    "z": "237573f3.977b64",
    "name": "Color ?",
    "property": "payload.color",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "5",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "6",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 7,
    "x": 920,
    "y": 2590,
    "wires": [
      [
        "d8b96e7c.3d48c8"
      ],
      [
        "6b8743ab.c7bcac"
      ],
      [
        "d7bc5709.0ffa28"
      ],
      [
        "7c3284a.aefd6fc"
      ],
      [
        "add63137.8e54a8"
      ],
      [
        "8a434dd.cead6b"
      ],
      [
        "70ce0c08.7308dc"
      ]
    ]
  },
  {
    "id": "6b8743ab.c7bcac",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "Red",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"color\":{\"rgb\":\"255,0,0\"}}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1110,
    "y": 2430,
    "wires": [
      [
        "6fc8333b.7f6d1c"
      ]
    ]
  },
  {
    "id": "d7bc5709.0ffa28",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "Green",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"color\":{\"rgb\":\"0,255,0\"}}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1110,
    "y": 2470,
    "wires": [
      [
        "6fc8333b.7f6d1c"
      ]
    ]
  },
  {
    "id": "7c3284a.aefd6fc",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "Blue",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"color\":{\"rgb\":\"0,0,255\"}}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1110,
    "y": 2510,
    "wires": [
      [
        "6fc8333b.7f6d1c"
      ]
    ]
  },
  {
    "id": "add63137.8e54a8",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "White",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"color\":{\"rgb\":\"255,255,255\"}}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1110,
    "y": 2550,
    "wires": [
      [
        "6fc8333b.7f6d1c"
      ]
    ]
  },
  {
    "id": "8a434dd.cead6b",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "Yellow",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"color\":{\"rgb\":\"255,255,0\"}}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1110,
    "y": 2590,
    "wires": [
      [
        "6fc8333b.7f6d1c"
      ]
    ]
  },
  {
    "id": "70ce0c08.7308dc",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "Cyan",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"color\":{\"rgb\":\"0,255,255\"}}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1110,
    "y": 2630,
    "wires": [
      [
        "6fc8333b.7f6d1c"
      ]
    ]
  },
  {
    "id": "d8b96e7c.3d48c8",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "Magenta",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"color\":{\"rgb\":\"255,0,255\"}}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1120,
    "y": 2390,
    "wires": [
      [
        "6fc8333b.7f6d1c"
      ]
    ]
  },
  {
    "id": "7545dbe9.bad7e4",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 240,
    "y": 940,
    "wires": []
  },
  {
    "id": "56f59bd0.4be85c",
    "type": "switch",
    "z": "237573f3.977b64",
    "name": "",
    "property": "payload.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 520,
    "y": 1000,
    "wires": [
      [
        "82918784.6b6d58"
      ],
      [
        "1b5806ce.1cdb99"
      ]
    ]
  },
  {
    "id": "bf3689b6.1a9aa8",
    "type": "mqtt in",
    "z": "237573f3.977b64",
    "name": "",
    "topic": "zigbee2mqtt/R01~ChD~OnOff",
    "qos": "2",
    "datatype": "json",
    "broker": "c38452a5.4f84e8",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 170,
    "y": 980,
    "wires": [
      [
        "7545dbe9.bad7e4",
        "56f59bd0.4be85c"
      ]
    ]
  },
  {
    "id": "82918784.6b6d58",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "state=ON",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"state\":\"ON\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 710,
    "y": 1000,
    "wires": [
      [
        "e7387eae.824b38"
      ]
    ]
  },
  {
    "id": "e7387eae.824b38",
    "type": "mqtt out",
    "z": "237573f3.977b64",
    "name": "",
    "topic": "zigbee2mqtt/P01~ChD~Lit/set",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "c38452a5.4f84e8",
    "x": 1230,
    "y": 990,
    "wires": []
  },
  {
    "id": "28b226fd.f70f5a",
    "type": "inject",
    "z": "237573f3.977b64",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "P01220vDam",
    "payloadType": "str",
    "x": 720,
    "y": 960,
    "wires": [
      [
        "70b16aec.fca994"
      ]
    ]
  },
  {
    "id": "1b5806ce.1cdb99",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "state=OFF",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"state\":\"OFF\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 720,
    "y": 1040,
    "wires": [
      [
        "e7387eae.824b38"
      ]
    ]
  },
  {
    "id": "70b16aec.fca994",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "state=TOGGLE",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"state\":\"TOGGLE\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 910,
    "y": 960,
    "wires": [
      [
        "e7387eae.824b38"
      ]
    ]
  },
  {
    "id": "274d1df9.f97ce2",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "up",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"state\":\"OPEN\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 960,
    "y": 610,
    "wires": [
      [
        "6a4dd527.0c6374"
      ]
    ]
  },
  {
    "id": "1888e2d7.750abd",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "down",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"state\":\"CLOSE\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 960,
    "y": 650,
    "wires": [
      [
        "6a4dd527.0c6374"
      ]
    ]
  },
  {
    "id": "e67be7e9.698a3",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1050,
    "y": 2050,
    "wires": []
  },
  {
    "id": "358a4384.236554",
    "type": "inject",
    "z": "237573f3.977b64",
    "name": "OPEN",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"state\":\"OPEN\"}",
    "payloadType": "json",
    "x": 960,
    "y": 560,
    "wires": [
      [
        "274d1df9.f97ce2"
      ]
    ]
  },
  {
    "id": "5ff823c1.92c744",
    "type": "inject",
    "z": "237573f3.977b64",
    "name": "CLOSE",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"state\":\"CLOSE\"}",
    "payloadType": "json",
    "x": 960,
    "y": 700,
    "wires": [
      [
        "1888e2d7.750abd"
      ]
    ]
  },
  {
    "id": "6a4dd527.0c6374",
    "type": "mqtt out",
    "z": "237573f3.977b64",
    "name": "",
    "topic": "zigbee2mqtt/G01~Volets/set",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "c38452a5.4f84e8",
    "x": 1220,
    "y": 630,
    "wires": []
  },
  {
    "id": "ed7e5bf9.c3ba68",
    "type": "range",
    "z": "237573f3.977b64",
    "minin": "-180",
    "maxin": "+180",
    "minout": "-50",
    "maxout": "+50",
    "action": "scale",
    "round": true,
    "property": "payload.move",
    "name": "",
    "x": 710,
    "y": 2050,
    "wires": [
      [
        "d545bc5e.ab2af"
      ]
    ]
  },
  {
    "id": "b60a2ede.38c8c",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload.move",
        "pt": "msg",
        "to": "payload.angle",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 2150,
    "wires": [
      [
        "ed7e5bf9.c3ba68"
      ]
    ]
  },
  {
    "id": "d545bc5e.ab2af",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "position",
    "rules": [
      {
        "t": "set",
        "p": "tempmove",
        "pt": "msg",
        "to": "payload.move",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "payload.position",
        "pt": "msg",
        "to": "tempmove",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 850,
    "y": 2050,
    "wires": [
      [
        "e67be7e9.698a3"
      ]
    ]
  },
  {
    "id": "5ea0d18e.5be0f",
    "type": "mqtt in",
    "z": "237573f3.977b64",
    "name": "",
    "topic": "zigbee2mqtt/R06~Salon~Cube",
    "qos": "2",
    "datatype": "json",
    "broker": "c38452a5.4f84e8",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 180,
    "y": 650,
    "wires": [
      [
        "6335ea75.a87bd4",
        "59774785.92416"
      ]
    ]
  },
  {
    "id": "784a0a40.77a8e4",
    "type": "switch",
    "z": "237573f3.977b64",
    "name": "Action ?",
    "property": "payload.side",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "OPEN",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "CLOSE",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 600,
    "y": 2110,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "6335ea75.a87bd4",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 260,
    "y": 610,
    "wires": []
  },
  {
    "id": "8c15205d.728608",
    "type": "switch",
    "z": "237573f3.977b64",
    "name": "Changed ?",
    "property": "payload.side",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "cubeside",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "cubeside",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 190,
    "y": 2110,
    "wires": [
      [
        "873456a9.af8e5"
      ],
      [
        "63ce22d3.b50aa4",
        "d7732e28.9e043"
      ]
    ]
  },
  {
    "id": "63ce22d3.b50aa4",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "Not changed",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 390,
    "y": 2210,
    "wires": []
  },
  {
    "id": "873456a9.af8e5",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "cubeside",
        "pt": "global",
        "to": "payload.side",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 2110,
    "wires": [
      [
        "784a0a40.77a8e4"
      ]
    ]
  },
  {
    "id": "8727348b.c1985",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "cubeangle",
        "pt": "global",
        "to": "payload.angle",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 2150,
    "wires": [
      [
        "b60a2ede.38c8c"
      ]
    ]
  },
  {
    "id": "d7732e28.9e043",
    "type": "switch",
    "z": "237573f3.977b64",
    "name": "Angle changed ?",
    "property": "payload.angle",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "cubeangle",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "cubeangle",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 410,
    "y": 2150,
    "wires": [
      [
        "8727348b.c1985"
      ],
      [
        "7551566d.d4e6a8"
      ]
    ]
  },
  {
    "id": "7551566d.d4e6a8",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "Not changed",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 2210,
    "wires": []
  },
  {
    "id": "8977a250.22ff2",
    "type": "comment",
    "z": "237573f3.977b64",
    "name": "Triggers -> Actions",
    "info": "",
    "x": 110,
    "y": 580,
    "wires": []
  },
  {
    "id": "59774785.92416",
    "type": "switch",
    "z": "237573f3.977b64",
    "name": "Action?",
    "property": "payload.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "tap",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "shake",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 530,
    "y": 650,
    "wires": [
      [
        "2a74ef94.59aac"
      ],
      [
        "c6bedaf25152623e"
      ]
    ]
  },
  {
    "id": "2a74ef94.59aac",
    "type": "switch",
    "z": "237573f3.977b64",
    "name": "Side?",
    "property": "payload.side",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 710,
    "y": 650,
    "wires": [
      [
        "274d1df9.f97ce2"
      ],
      [
        "1888e2d7.750abd"
      ]
    ]
  },
  {
    "id": "2f285578099ecddd",
    "type": "mqtt in",
    "z": "237573f3.977b64",
    "name": "",
    "topic": "zigbee2mqtt/R07~Celier~Chaussures",
    "qos": "2",
    "datatype": "json",
    "broker": "c38452a5.4f84e8",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 200,
    "y": 860,
    "wires": [
      [
        "32d78d55003433bf",
        "1995c31697716418"
      ]
    ]
  },
  {
    "id": "32d78d55003433bf",
    "type": "switch",
    "z": "237573f3.977b64",
    "name": "",
    "property": "payload.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "single",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "double",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 520,
    "y": 860,
    "wires": [
      [
        "378cc77d.34fe"
      ],
      []
    ]
  },
  {
    "id": "1995c31697716418",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 300,
    "y": 820,
    "wires": []
  },
  {
    "id": "6cce2e29e9f38183",
    "type": "switch",
    "z": "237573f3.977b64",
    "name": "commands",
    "property": "payload.action",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1_single",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "2_single",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "3_single",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "1_double",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "2_double",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "3_double",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 6,
    "x": 540,
    "y": 1290,
    "wires": [
      [],
      [],
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "75bfc8d19d5ab587",
    "type": "mqtt in",
    "z": "237573f3.977b64",
    "name": "",
    "topic": "zigbee2mqtt/R02~Volets~OnOff",
    "qos": "2",
    "datatype": "auto",
    "broker": "c38452a5.4f84e8",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 180,
    "y": 1290,
    "wires": [
      [
        "5fceb06548201bc3",
        "6cce2e29e9f38183"
      ]
    ]
  },
  {
    "id": "5fceb06548201bc3",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 260,
    "y": 1250,
    "wires": []
  },
  {
    "id": "1ac03bb717caec93",
    "type": "comment",
    "z": "237573f3.977b64",
    "name": "Tap the cube to Open/Close shutters",
    "info": "",
    "x": 1240,
    "y": 590,
    "wires": []
  },
  {
    "id": "567f5722b1de5166",
    "type": "comment",
    "z": "237573f3.977b64",
    "name": "Shake the cube to toggle cozy light",
    "info": "",
    "x": 1240,
    "y": 710,
    "wires": []
  },
  {
    "id": "c6bedaf25152623e",
    "type": "change",
    "z": "237573f3.977b64",
    "name": "state=TOGGLE",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"state\":\"TOGGLE\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 990,
    "y": 750,
    "wires": [
      [
        "831f3268.666ba"
      ]
    ]
  },
  {
    "id": "377ebca7eea0ab57",
    "type": "comment",
    "z": "237573f3.977b64",
    "name": "Click to toggle light",
    "info": "",
    "x": 1190,
    "y": 820,
    "wires": []
  },
  {
    "id": "534b905836121853",
    "type": "comment",
    "z": "237573f3.977b64",
    "name": "Click on/off to toggle light",
    "info": "",
    "x": 1210,
    "y": 950,
    "wires": []
  },
  {
    "id": "4045760b900137f1",
    "type": "debug",
    "z": "237573f3.977b64",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 280,
    "y": 1090,
    "wires": []
  }
]