src/tidhome/config/flows/Sensors-CCost.json
[
  {
    "id": "f96b3a53.67de8",
    "type": "tab",
    "label": "Sensors-CCost",
    "disabled": false,
    "info": ""
  },
  {
    "id": "81a1739b.736d1",
    "type": "serial in",
    "z": "f96b3a53.67de8",
    "name": "CurrentCost",
    "serial": "36396f66.41717",
    "x": 130,
    "y": 110,
    "wires": [
      [
        "e9003ce.5c1f84"
      ]
    ]
  },
  {
    "id": "e9003ce.5c1f84",
    "type": "xml",
    "z": "f96b3a53.67de8",
    "name": "xml2json",
    "property": "payload",
    "attr": "",
    "chr": "",
    "x": 340,
    "y": 110,
    "wires": [
      [
        "136be37c.938365"
      ]
    ]
  },
  {
    "id": "57c57a10.955624",
    "type": "mqtt out",
    "z": "f96b3a53.67de8",
    "name": "sensors/xxx/nodes/...",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "c38452a5.4f84e8",
    "x": 840,
    "y": 110,
    "wires": []
  },
  {
    "id": "136be37c.938365",
    "type": "file function",
    "z": "f96b3a53.67de8",
    "name": "Parse CurrentCost",
    "filename": "/opt/tidhome/functions/Parse-CurrentCost.js",
    "reloadfile": false,
    "outputs": 1,
    "x": 570,
    "y": 110,
    "wires": [
      [
        "57c57a10.955624",
        "65932785.3642e"
      ]
    ]
  },
  {
    "id": "a44c6fd5.e88c1",
    "type": "catch",
    "z": "f96b3a53.67de8",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 120,
    "y": 70,
    "wires": [
      [
        "4a641f47.46cb08"
      ]
    ]
  },
  {
    "id": "4a641f47.46cb08",
    "type": "link out",
    "z": "f96b3a53.67de8",
    "name": "General CatchAll",
    "links": [
      "1bf42829.b3e0b8"
    ],
    "x": 275,
    "y": 70,
    "wires": []
  },
  {
    "id": "ef7af4f7.f7274",
    "type": "debug",
    "z": "f96b3a53.67de8",
    "name": "CCDebug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 190,
    "wires": []
  },
  {
    "id": "b378c436.6d3a5",
    "type": "function",
    "z": "f96b3a53.67de8",
    "name": "query insert",
    "func": "var msgres =  {\n    payload: {\n        payload: [\n            { \"value\": Number(msg.payload.value) },\n            { \"type\": \"power-inst\", \"location\": msg.payload.name }\n        ],\n        measurement: \"sensors\"\n    }\n}\n\nreturn msgres;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 940,
    "y": 230,
    "wires": [
      [
        "6166ef2d.f866f8"
      ]
    ]
  },
  {
    "id": "6166ef2d.f866f8",
    "type": "mqtt out",
    "z": "f96b3a53.67de8",
    "name": "sensors",
    "topic": "sensors",
    "qos": "",
    "retain": "",
    "broker": "c38452a5.4f84e8",
    "x": 1110,
    "y": 230,
    "wires": []
  },
  {
    "id": "99e6cd73.0c8e88",
    "type": "switch",
    "z": "f96b3a53.67de8",
    "name": "",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "watts",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 790,
    "y": 230,
    "wires": [
      [
        "b378c436.6d3a5"
      ]
    ]
  },
  {
    "id": "65932785.3642e",
    "type": "function",
    "z": "f96b3a53.67de8",
    "name": "Friendly name",
    "func": "var tidhome = global.get(\"tidhome\") || {}\nsensors = tidhome.sensors || {}\ncurrsnetcostNodes = sensors.currentcost.nodes || {}\nmsg.payload.name = \"cc-\" + msg.payload.id + \"-\" + currsnetcostNodes[msg.payload.id].location || \"Unknown\"\n\n// pass through\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 560,
    "y": 210,
    "wires": [
      [
        "ef7af4f7.f7274",
        "99e6cd73.0c8e88"
      ]
    ]
  }
]