src/tidhome/config/flows/Telegram.json
[
  {
    "id": "f6aef2f1.dd52e8",
    "type": "tab",
    "label": "Telegram",
    "disabled": false,
    "info": ""
  },
  {
    "id": "42b9a882.0c7548",
    "type": "catch",
    "z": "f6aef2f1.dd52e8",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 100,
    "y": 80,
    "wires": [
      [
        "98c9017f.76bca"
      ]
    ]
  },
  {
    "id": "98c9017f.76bca",
    "type": "link out",
    "z": "f6aef2f1.dd52e8",
    "name": "General CatchAll",
    "links": [
      "1bf42829.b3e0b8"
    ],
    "x": 255,
    "y": 80,
    "wires": []
  },
  {
    "id": "d020562c.8333a8",
    "type": "telegram sender",
    "z": "f6aef2f1.dd52e8",
    "name": "Send",
    "bot": "4fc69d2d.235124",
    "outputs": 1,
    "x": 700,
    "y": 160,
    "wires": [
      [
        "fa16035d.0f0fd8"
      ]
    ]
  },
  {
    "id": "fa16035d.0f0fd8",
    "type": "debug",
    "z": "f6aef2f1.dd52e8",
    "name": "Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 860,
    "y": 160,
    "wires": []
  },
  {
    "id": "20133b84.b44ca4",
    "type": "mqtt in",
    "z": "f6aef2f1.dd52e8",
    "name": "notifications/telegram",
    "topic": "notifications/telegram",
    "qos": "2",
    "datatype": "auto",
    "broker": "c38452a5.4f84e8",
    "x": 140,
    "y": 160,
    "wires": [
      [
        "e8dfc067.c65a1"
      ]
    ]
  },
  {
    "id": "b52ace9b.c4f7f",
    "type": "function",
    "z": "f6aef2f1.dd52e8",
    "name": "Render notification event",
    "func": "msg.payload = {\n    \"chatId\": msg.telegramrecipients,\n    \"type\": \"message\",\n    \"options\": { \"parse_mode\": \"Markdown\" },\n    \"content\": msg.payload\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 510,
    "y": 160,
    "wires": [
      [
        "d020562c.8333a8"
      ]
    ]
  },
  {
    "id": "586ca451.0700d4",
    "type": "comment",
    "z": "f6aef2f1.dd52e8",
    "name": "Publish Telegram message to K",
    "info": "",
    "x": 170,
    "y": 120,
    "wires": []
  },
  {
    "id": "e8dfc067.c65a1",
    "type": "credentials",
    "z": "f6aef2f1.dd52e8",
    "name": "K",
    "props": [
      {
        "value": "telegramrecipients",
        "type": "msg"
      }
    ],
    "x": 320,
    "y": 160,
    "wires": [
      [
        "b52ace9b.c4f7f"
      ]
    ]
  },
  {
    "id": "f7290145.4541",
    "type": "telegram command",
    "z": "f6aef2f1.dd52e8",
    "name": "/help",
    "command": "/help",
    "bot": "4fc69d2d.235124",
    "strict": false,
    "hasresponse": false,
    "outputs": 2,
    "x": 90,
    "y": 350,
    "wires": [
      [
        "2a90a04d.2f6e98"
      ],
      []
    ]
  },
  {
    "id": "42720d76.713b3c",
    "type": "telegram sender",
    "z": "f6aef2f1.dd52e8",
    "name": "Send",
    "bot": "4fc69d2d.235124",
    "outputs": 1,
    "x": 450,
    "y": 300,
    "wires": [
      [
        "20cc8013.f8d02"
      ]
    ]
  },
  {
    "id": "2a90a04d.2f6e98",
    "type": "function",
    "z": "f6aef2f1.dd52e8",
    "name": "",
    "func": "var helpMessage = \"/help - shows help\\n\";\nhelpMessage += \"/status - request for status\\n\";\nhelpMessage += \"/meteo - request for meteo\\n\";\n\nhelpMessage += \"Your chat id is \" + msg.payload.chatId + \"\\n\";\nhelpMessage += \"You are welcome: \"+ msg.originalMessage.from.username + \"\\n\";\n\nmsg.payload.content = helpMessage;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 270,
    "y": 300,
    "wires": [
      [
        "42720d76.713b3c"
      ]
    ]
  },
  {
    "id": "20cc8013.f8d02",
    "type": "debug",
    "z": "f6aef2f1.dd52e8",
    "name": "Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 610,
    "y": 300,
    "wires": []
  },
  {
    "id": "118b2ea9.b320d1",
    "type": "telegram command",
    "z": "f6aef2f1.dd52e8",
    "name": "/start",
    "command": "/start",
    "bot": "4fc69d2d.235124",
    "strict": false,
    "hasresponse": false,
    "useregex": false,
    "removeregexcommand": false,
    "outputs": 1,
    "x": 90,
    "y": 300,
    "wires": [
      [
        "2a90a04d.2f6e98"
      ]
    ]
  },
  {
    "id": "a7974ba.f02b438",
    "type": "comment",
    "z": "f6aef2f1.dd52e8",
    "name": "HELP",
    "info": "",
    "x": 90,
    "y": 260,
    "wires": []
  },
  {
    "id": "37f44010.1082a",
    "type": "telegram command",
    "z": "f6aef2f1.dd52e8",
    "name": "/volets",
    "command": "/volets",
    "bot": "4fc69d2d.235124",
    "strict": false,
    "hasresponse": false,
    "useregex": false,
    "removeregexcommand": false,
    "outputs": 1,
    "x": 90,
    "y": 510,
    "wires": [
      [
        "6e059c3f.301864"
      ]
    ]
  },
  {
    "id": "3e32665d.b9272a",
    "type": "change",
    "z": "f6aef2f1.dd52e8",
    "name": "Up",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1002",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 440,
    "y": 500,
    "wires": [
      [
        "14ebbca6.96705b"
      ]
    ]
  },
  {
    "id": "8d0d171f.e98ce",
    "type": "comment",
    "z": "f6aef2f1.dd52e8",
    "name": "Ouverture/Fermeture - Volets",
    "info": "",
    "x": 160,
    "y": 470,
    "wires": []
  },
  {
    "id": "6e059c3f.301864",
    "type": "switch",
    "z": "f6aef2f1.dd52e8",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "up",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "mid",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "down",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 4,
    "x": 260,
    "y": 520,
    "wires": [
      [
        "3e32665d.b9272a"
      ],
      [
        "8f908796.3b7e58"
      ],
      [
        "13d80513.565abb"
      ],
      []
    ]
  },
  {
    "id": "8f908796.3b7e58",
    "type": "change",
    "z": "f6aef2f1.dd52e8",
    "name": "Mid",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "2002",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 440,
    "y": 540,
    "wires": [
      [
        "14ebbca6.96705b"
      ]
    ]
  },
  {
    "id": "13d80513.565abb",
    "type": "change",
    "z": "f6aef2f1.dd52e8",
    "name": "Down",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "3002",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 440,
    "y": 580,
    "wires": [
      [
        "14ebbca6.96705b"
      ]
    ]
  },
  {
    "id": "14ebbca6.96705b",
    "type": "link out",
    "z": "f6aef2f1.dd52e8",
    "name": "",
    "links": [
      "a3d9dda0.acd1"
    ],
    "x": 565,
    "y": 540,
    "wires": []
  }
]