src/tidhome/config/flows/Telegram.json
[
  {
    "id": "f6aef2f1.dd52e8",
    "type": "tab",
    "label": "Telegram",
    "disabled": false,
    "info": ""
  },
  {
    "id": "42b9a882.0c7548",
    "type": "catch",
    "z": "f6aef2f1.dd52e8",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 100,
    "y": 80,
    "wires": [
      [
        "98c9017f.76bca"
      ]
    ]
  },
  {
    "id": "98c9017f.76bca",
    "type": "link out",
    "z": "f6aef2f1.dd52e8",
    "name": "General CatchAll",
    "links": [
      "1bf42829.b3e0b8"
    ],
    "x": 255,
    "y": 80,
    "wires": []
  },
  {
    "id": "d020562c.8333a8",
    "type": "telegram sender",
    "z": "f6aef2f1.dd52e8",
    "name": "Send",
    "bot": "4fc69d2d.235124",
    "outputs": 1,
    "x": 700,
    "y": 160,
    "wires": [
      [
        "fa16035d.0f0fd8"
      ]
    ]
  },
  {
    "id": "fa16035d.0f0fd8",
    "type": "debug",
    "z": "f6aef2f1.dd52e8",
    "name": "Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 860,
    "y": 160,
    "wires": []
  },
  {
    "id": "20133b84.b44ca4",
    "type": "mqtt in",
    "z": "f6aef2f1.dd52e8",
    "name": "notifications/telegram",
    "topic": "notifications/telegram",
    "qos": "2",
    "datatype": "auto",
    "broker": "c38452a5.4f84e8",
    "x": 140,
    "y": 160,
    "wires": [
      [
        "e8dfc067.c65a1"
      ]
    ]
  },
  {
    "id": "b52ace9b.c4f7f",
    "type": "function",
    "z": "f6aef2f1.dd52e8",
    "name": "Render notification event",
    "func": "msg.payload = {\n    \"chatId\": msg.telegramrecipients,\n    \"type\": \"message\",\n    \"options\": { \"parse_mode\": \"Markdown\" },\n    \"content\": msg.payload\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 510,
    "y": 160,
    "wires": [
      [
        "d020562c.8333a8"
      ]
    ]
  },
  {
    "id": "586ca451.0700d4",
    "type": "comment",
    "z": "f6aef2f1.dd52e8",
    "name": "Publish Telegram message to K",
    "info": "",
    "x": 170,
    "y": 120,
    "wires": []
  },
  {
    "id": "e8dfc067.c65a1",
    "type": "credentials",
    "z": "f6aef2f1.dd52e8",
    "name": "K",
    "props": [
      {
        "value": "telegramrecipients",
        "type": "msg"
      }
    ],
    "x": 320,
    "y": 160,
    "wires": [
      [
        "b52ace9b.c4f7f"
      ]
    ]
  },
  {
    "id": "ecf8f00b.9c7438",
    "type": "feedparse",
    "z": "f6aef2f1.dd52e8",
    "name": "Dealabs",
    "url": "https://www.dealabs.com/rss/hot",
    "interval": 15,
    "x": 100,
    "y": 260,
    "wires": [
      [
        "b3fe6816.21fd9"
      ]
    ]
  },
  {
    "id": "5ea9c59d.4550fc",
    "type": "debug",
    "z": "f6aef2f1.dd52e8",
    "name": "Deals",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 370,
    "wires": []
  },
  {
    "id": "a6e1271a.baaa3",
    "type": "switch",
    "z": "f6aef2f1.dd52e8",
    "name": "Exclude some...",
    "property": "article",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "smartphone",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "portable",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "aspirateur",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "ps4",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "xbox",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "payload",
        "vt": "msg"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 6,
    "x": 540,
    "y": 330,
    "wires": [
      [
        "cd18d743.cad9b8"
      ],
      [
        "cd18d743.cad9b8"
      ],
      [
        "cd18d743.cad9b8"
      ],
      [
        "cd18d743.cad9b8"
      ],
      [
        "cd18d743.cad9b8"
      ],
      [
        "ee7a819f.56d9b8"
      ]
    ]
  },
  {
    "id": "b3fe6816.21fd9",
    "type": "json",
    "z": "f6aef2f1.dd52e8",
    "name": "",
    "property": "article",
    "action": "",
    "pretty": false,
    "x": 240,
    "y": 260,
    "wires": [
      [
        "10a8bd7d.46bc2b"
      ]
    ]
  },
  {
    "id": "98999bf7.f36248",
    "type": "change",
    "z": "f6aef2f1.dd52e8",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "topic",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 370,
    "wires": [
      [
        "5ea9c59d.4550fc",
        "aa4e90f6.9c8008"
      ]
    ]
  },
  {
    "id": "10a8bd7d.46bc2b",
    "type": "change",
    "z": "f6aef2f1.dd52e8",
    "name": "lowercase",
    "rules": [
      {
        "t": "set",
        "p": "article",
        "pt": "msg",
        "to": "$lowercase(article)\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 260,
    "wires": [
      [
        "7318a173.310be"
      ]
    ]
  },
  {
    "id": "7318a173.310be",
    "type": "template",
    "z": "f6aef2f1.dd52e8",
    "name": "includes",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "plain",
    "template": "fitbit\nultrawide\nultrasharp\n3840\n5120\nnintendo\nmario\nwestern\nxiaomi\nzigbee\nquest\noculus\nlego\ndji\nphoto\nbosh\nsamsung\nsiemens\nsèche",
    "output": "str",
    "x": 220,
    "y": 330,
    "wires": [
      [
        "9bbc1149.008fa"
      ]
    ]
  },
  {
    "id": "9bbc1149.008fa",
    "type": "split",
    "z": "f6aef2f1.dd52e8",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 370,
    "y": 330,
    "wires": [
      [
        "a6e1271a.baaa3"
      ]
    ]
  },
  {
    "id": "ee7a819f.56d9b8",
    "type": "trigger",
    "z": "f6aef2f1.dd52e8",
    "name": "Watchdog",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "1",
    "extend": true,
    "units": "s",
    "reset": "",
    "bytopic": "topic",
    "topic": "topic",
    "outputs": 1,
    "x": 730,
    "y": 370,
    "wires": [
      [
        "98999bf7.f36248"
      ]
    ]
  },
  {
    "id": "6d7540a5.045f4",
    "type": "comment",
    "z": "f6aef2f1.dd52e8",
    "name": "Dealabs",
    "info": "Listen to Dealabs HotDeals\nSearch keywords\nSort topics\nSend Telegram notification",
    "x": 100,
    "y": 220,
    "wires": []
  },
  {
    "id": "cd18d743.cad9b8",
    "type": "debug",
    "z": "f6aef2f1.dd52e8",
    "name": "Exclude",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 320,
    "wires": []
  },
  {
    "id": "aa4e90f6.9c8008",
    "type": "mqtt out",
    "z": "f6aef2f1.dd52e8",
    "name": "notifications/telegram",
    "topic": "notifications/telegram",
    "qos": "",
    "retain": "",
    "broker": "c38452a5.4f84e8",
    "x": 1150,
    "y": 410,
    "wires": []
  }
]